<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin add advantages</title>
    <%- include('../partials/admin-head'); -%>
    <style>
        .form-message {
            font-size: 1.2rem;
            line-height: 1.6rem;
            padding: 4px 0 0;
            color: #f33a58;
        }       
    </style>
</head>
<body class='theme-dank'>
    <div class="body-warpper">
        <div class="row no-gutters">
            <%- include('../partials/body-admin-left'); -%>
            <div class="col col-lg-10">
                <div class="body_admin-right">
                    <%- include('../partials/admin-navbar'); -%>
                    <div class="body_admin-right-body">
                        <div class="body_admin-right_page-content">
                            <div class="body_admin-right_page-content-card">
                                <div class="page-content-card-warpper">
                                    <h5 class="page-content-card-warpper-title">Product Advantages</h5>
                                    <form action="" enctype="multipart/form-data">
                                        <div class="col col-lg-8">
                                            <div class="border">
                                                <div class="page-content-card-warpper">
                                                    <div class="row no-gutters">
                                                        <div class="col col-lg-12">
                                                            <div class="page-content-card-form-input  margin-bottom-2">
                                                                <label class="page-content-card-form-input-label" for="">Code Product</label>
                                                                <input name="codeproduct" type="text" class="form-control page-content-form_code" placeholder="Enter code product">
                                                                <span class="form-message"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12">
                                                            <div class="page-content-card-form-input  margin-bottom-2">
                                                                <label class="page-content-card-form-input-label" for="">Product Name</label>
                                                                <input name="productname" type="text" class="form-control page-content-form_name" placeholder="Enter product Name">
                                                                <span class="form-message"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12">
                                                            <div class="page-content-card-form-input  margin-bottom-2">
                                                                    <div class="page-content-card-form-input  margin-bottom-2">
                                                                        <textarea name="title1" id="" cols="30" class="form-control page-content-form_description-details formTitle" rows="10" placeholder="Title 1"></textarea>
                                                                        <textarea name="advantagecontent1" class="form-control page-content-form_description-details" rows="6" placeholder="Enter Advantages 1"></textarea>
                                                                        <span class="form-message"></span>
                                                                        <input type="file" name="advantagesPhoto1" multiple>
                                                                    </div>
                                                                <img class="upload1 uploadStyle" src="" alt="">
                                                                <img class="upload2 uploadStyle" src="" alt="">
                                                                <img class="upload3 uploadStyle" src="" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12">
                                                            <div class="page-content-card-form-input  margin-bottom-2">
                                                                <textarea name="title2" id="" cols="30" class="form-control page-content-form_description-details formTitle" rows="10" placeholder="Title 2"></textarea>
                                                                <textarea name="advantagecontent2" class="form-control page-content-form_description-details" rows="6" placeholder="Enter Advantages 2"></textarea>
                                                                <span class="form-message"></span>
                                                                <input type="file" name="advantagesPhoto2" multiple>
                                                            </div>
                                                            <img class="upload4 uploadStyle" src="" alt=""> 
                                                            <img class="upload5 uploadStyle" src="" alt="">
                                                            <img class="upload6 uploadStyle" src="" alt="">
                                                        <!-- </div>
                                                        <div class="col col-lg-12 addAdvantages00"> -->
                                    
                                                        </div>
                                                        <!-- <button onclick="addAdvantages()" type="button">Add Advantages</button> <br> -->
                                                        <button onclick="uploadAdvantagesPhoto()" type="button">Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
<%- include('../partials/admin-script'); -%>
<script src="public/assets/js/ajaxAdmin-Add-Advantages.js"></script>
<script src="public/assets/js/ajaxAdminAccount.js"></script>
</html>