<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List order details</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/assets/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/css/rest.css">
    <link rel="stylesheet" href="/public/assets/css/grid.css">
    <link rel="stylesheet" href="/public/assets/css/base.css">
    <link rel="stylesheet" href="/public/assets/css/nav.css">
    <link rel="stylesheet" href="/public/assets/css/carousel-banner.css">
    <link rel="stylesheet" href="/public/assets/css/deal.css">
    <link rel="stylesheet" href="/public/assets/css/range.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/css/cart.css">
    <link rel="stylesheet" href="/public/assets/css/tab_ui.css">
    <link rel="stylesheet" href="/public/assets/css/product_details.css">
    <link rel="stylesheet" href="/public/assets/css/list-product.css">
    <link rel="stylesheet" href="/public/assets/css/responsive.css">
    <link rel="stylesheet" href="/public/assets/css/footersubsection.css">
    <link rel="stylesheet" href="/public/assets//css/bootstrap.css">
    <link rel="stylesheet" href="/public/assets/css/orderDetails.css">
</head>
<body>
<!-- Header -->
  <header>
    <nav class="navbar">
        <div class="col col-md-3 col-sm-3 hide-on-pc">
            <label for="nav-mobile-input">
                <ul class="navbar-list">
                    <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                </ul>
             </label>
        </div>
        
        <div class="col col-lg-5 hide-on-mobile-tablet">
            <ul class="navbar-list">
                <label for="nav-mobile-input">
                    <ul class="navbar-list">
                        <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                    </ul>
                </label>
                <li class="navbar-list-items">
                    <a href="" class="navbar-items-link">Main</a>
                    <ul class="header__submenu-list">
                        <div class="grid">
                            <div class="row">
                                <li class="col col-lg-2-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">Home Styles</h3>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-items"><a href="" class=" sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v2 – Full Screen Slider</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                    </ul>
                                </li>
                                <li class="col col-lg-2-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">GLOBAL OPTION</h3>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                    </ul>
                                </li>
                                <li class="col col-lg-2-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">HEADER LAYOUT</h3>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                    </ul>
                                </li>
                                <li class="col col-lg-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">OTHER DEMOS</h3>
                                    <ul class="sub-menu">
                                        <a href="" class="sub-demo">
                                            <img src="./assets/img/decor-home1-768x438.png" alt="" class="sub-menu-img">
                                            <div class="sub-demo-title">
                                                <p class="">Decoration</p>
                                                <p>Demo</p>
                                            </div>
                                            

                                        </a>
                                       
                                    </ul>
                                </li>
                                
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="navbar-list-items"><a href="" class="navbar-items-link">Shop</a></li>
                <li class="navbar-list-items"><a href="" class="navbar-items-link">Product</a></li>
                <li class="navbar-list-items navbar-list-items-dropdown"><a href="" class="navbar-items-link">Page</a>
                <ul class="navbar__list-dropdown">
                    <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 1</a></li>
                    <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 2</a></li>
                    <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 3</a></li>
                </ul>
                </li>
                
                <li class="navbar-list-items disable "><a href="" class="navbar-items-link ">Journal</a></li>
               
            </ul>
            
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-6 navbar-logo">
            <!-- <img src="../GOYA/assets/img/logo-light-_1_.png" class="navbar-logo-img">  -->
            
        </div>
        <div class="col col-lg-4 col-md-3 col-sm-3">
            <ul class="navbar-list navbar-list-touchbar">
                <div class="navbar-search">
                    
                    <input type="text" class="navbar-search-input">
                    <p class="navbar-search-icon"><i class="fal fa-search"></i></p> 
                    
                </div>
                <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon far fa-user"></i></a></li>
                <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon fal fa-question-circle"></i></a></li>
                <li class="navbar-list-items navbar-list-items-cart hide-on-mobile-tablet cartContainer">
                    <a href="http://localhost:3000/cart" class="navbar-items-link">
                        <i class="navbar-items-link-icon far fa-shopping-cart"></i></i>
                    </a>
                    <div class="navbar-list_cart navbarShowListCart">
                        <!-- navbar-list_cart-nocart add  class này để hiển thị phần không có sản phẩm  -->
                        <!-- <div class="navbar-list_cart-nocart">
                            <img class="navbar-list-nocart-img" src="../mint/assets/image/no-cart.png" alt="">
                            <p class="navbar-list-nocart-text">Chưa có sản phẩm </p>
                        </div> -->
                        
                        <!-- <h4 class="list_cart-heading">Sản phẩm đã thêm </h4>
                        <ul class="list_cart listSelectedProduct">
                        </ul>
                        <button class=" btn btn-primary list-view-cart">Show Cart</button> -->
                        
                    </div>
                    <!-- <p class ="numberProductInCart"></p> -->
                </li>
            </ul>
        </div>
        <input class="nav__mobile-input-checked" type="checkbox" name="" id="nav-mobile-input" hidden >
        <label for="nav-mobile-input" class="navbar__overlay">
           
        </label>
        <div class="navbar__tablet-mobile">
            <header class="navbar__tablet-mobile-header"> 
                <div class="navbar__tablet-mobile-user">
                    <img src="https://avatar-redirect.appspot.com/google/113816191739976626096?size=400" alt="" class="navbar__tablet-mobile-user-img">
                    <div class="navbar__tablet-mobile-user-name">
                        <p>Lê Huy Hiệp</p>
                    </div>
                </div>
                <label for="nav-mobile-input">
                    <div class="navbar__tablet-mobile-icon-close"><a  class="navbar__tablet-mobile-icon-close-link"><i class="fal fa-times"></i></a></div>
                </label>
            </header>
            
            <ul class="navbar__tablet-mobile-list">
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 1</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 2</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 3</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 4</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 5</a></li>
            </ul>
        </div>
        
    </nav>
  </header>
  <section class = "listContainer">
    <!-- List group -->
    <div class="list-group" id="myList" role="tablist">
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#userInfo" role="tab"><i class="far fa-user-alt"></i> User information</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#listProduct" role="tab"><i class="far fa-list"></i> List product</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#status" role="tab"><i class="fal fa-file-check"></i> Status</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#addressDeliveried" role="tab"><i class="fal fa-address-card"></i> Addrees deliveried</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#orderDate" role="tab"><i class="fal fa-calendar-alt"></i> Order creation date</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#paymentMethod" role="tab"><i class="fab fa-cc-visa"></i> Payment method</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#totalPrice" role="tab"><i class="fal fa-usd-circle"></i> Total price</a>
    </div>

    <!-- Tab panes -->
    <div class="order-content">
    <!-- user Infomation -->
      <div class="tab-pane" id="userInfo" role="tabpanel">
        <div class="container rounded bg-white mt-5 mb-5">
          <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                      <img class="rounded-circle mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF2psCzfbB611rnUhxgMi-lc2oB78ykqDGYb4v83xQ1pAbhPiB&usqp=CAU">
                      <span class="font-weight-bold userRole">Admin</span>
                      <span class="text-black-50 userEmail">amelly12@bbb.com</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                            <div class="col-md-6"><label class="labels">Fullname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" placeholder="phone number" value=""></div>
                            <div class="col-md-12"><label class="labels">Gender</label><input type="text" class="form-control" placeholder="gender" value=""></div>
                            <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="address" value=""></div>
                            <div class="col-md-12"><label class="labels">Status</label><input type="text" class="form-control" placeholder="Status" value=""></div>
                            <div class="col-md-12"><label class="labels">Decription</label><input type="text" class="form-control" placeholder="decription" value=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    <!-- list product  -->
      <div class="tab-pane" id="listProduct" role="tabpanel">
        <div class="container mt-5 mb-5">
          <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                  <div class="row p-2 bg-white border rounded">
                      <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://i.imgur.com/QpjAiHq.jpg"></div>
                      <div class="col-md-6 mt-1">
                          <h5>Product name</h5>
                          <div class="d-flex flex-row">
                              <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Ratings</span>
                          </div>
                          <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                          <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                          <p class="text-justify text-truncate para mb-0">Short Decription<br><br></p>
                      </div>
                      <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                          <div class="d-flex flex-row align-items-center">
                              <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                          </div>
                          <h6 class="text-success">Free shipping</h6>
                          <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
      </div>
    <!-- Status -->
      <div class="tab-pane" id="status" role="tabpanel">
        3
      </div>
    <!-- address deliveried -->
      <div class="tab-pane" id="addressDeliveried" role="tabpanel">
        4
      </div>
    <!-- Order date -->
      <div class="tab-pane" id="orderDate" role="tabpanel">
        5
      </div>
    <!-- payment method -->
      <div class="tab-pane" id="paymentMethod" role="tabpanel">
        6
      </div>
    <!-- total Price -->
      <div class="tab-pane" id="totalPrice" role="tabpanel">
        7
      </div>
    </div> 

  </section>
</body>
<script src="/public/assets/js/jquery-3.6.0.min.js"></script>
<script src="/public/assets/js/admin-order-details.js"></script>
</html>