<div class="body_admin-right-header">
    <nav class="body_admin-right-header-navbar">
        <div class="body_admin-right-header-navbar-search">
            <input class="body_admin-right-header-navbar-search-input" type="text" placeholder="Type to search">
            <span><i class="fal fa-search"></i></span>
        </div>
        <div class="body_admin-right-header-navbar-menu">
            <ul class="body_admin-right-header-navbar-menu-list">
                <li class="body_admin-right-header-navbar-menu-items">
                    <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-th"></i></a>
                </li>
                <li class="body_admin-right-header-navbar-menu-items">
                    <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-bell"></i></a>
                </li>
                <li class="body_admin-right-header-navbar-menu-items">
                    <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-sticky-note"></i></a>
                </li>
            </ul>
        </div>
        <div class="body_admin-right-header-navbar-user-box">
            <a class="body_admin-right-header-navbar-user-box-link">
                <img class="body_admin-right-header-navbar-user-box-avatar" src="/public/uploads/admin.png" alt="">
                <div class="body_admin-right-header-navbar-user-info">
                    <p class="body_admin-right-header-navbar-user-name">Lê Huy Hiệp</p>
                    <p class="body_admin-right-header-navbar-user-name">Admin</p>
                </div>
            </a>
        </div>
    </nav>
</div>
