<div class="body_admin-right-header">
    <nav class="body_admin-right-header-navbar">
        <div class="body_admin-right-header-navbar-search">
            <input class="body_admin-right-header-navbar-search-input" type="text" placeholder="Type to search">
            <span><i class="fal fa-search"></i></span>
        </div>
        <div class="body_admin-right-header-navbar-menu">
            <ul class="body_admin-right-header-navbar-menu-list">
                <li class="body_admin-right-header-navbar-menu-items">
                    <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-th"></i></a>
                </li>
                <li class="body_admin-right-header-navbar-menu-items">
                    <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-bell"></i></a>
                </li>
                <li class="body_admin-right-header-navbar-menu-items">
                    <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-sticky-note"></i></a>
                </li>
            </ul>
        </div>
        <div class="body_admin-right-header-navbar-user-box">
            <a class="body_admin-right-header-navbar-user-box-link">
                <img class="body_admin-right-header-navbar-user-box-avatar" src="https://scontent-hkt1-2.xx.fbcdn.net/v/t1.6435-9/150609262_924202854786569_3111661637071497757_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=45Jgjkw1NZgAX9c-WSs&_nc_ht=scontent-hkt1-2.xx&oh=f5899303f82a85ffe411028273323d90&oe=60DAE8B6" alt="">
                <div class="body_admin-right-header-navbar-user-info">
                    <p class="body_admin-right-header-navbar-user-name">Lê Huy Hiệp</p>
                    <p class="body_admin-right-header-navbar-user-name">Admin</p>
                </div>
            </a>
        </div>
    </nav>
</div>