<div class="col col-lg-2">
    <div class="body_admin-left">
        <div class="body_admin-left-header">
            <div class="body_admin-left-header-logo">
            </div>
            <div><span><i class="fal fa-chevron-right"></i></span></div>
        </div>
        <div class="body_admin-left-body">
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu body_admin-left-menu-active">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Product</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-product" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Products</span></a></li>
                    <li class="body_admin-left-menu-list-items"><a href="/admin-add-product"  class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Add Products</span></a></li>
                    <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Product Detail</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Category</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-category" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Category</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Color</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-color" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Color</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Level</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-level" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>level</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Size</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-size" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Size</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Supplier</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-supplier" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Supplier</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Trade Mark</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-list-tradeMark" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Trade Mark</span></a></li>
                </ul>
            </div>
            <div class="body_admin-left-menu-warpper">
                <div class="body_admin-left-menu">
                    <div class="body_admin-left-menu-title">
                        <h2> <span><i class="fal fa-shopping-cart"></i></span>Account</h2>
                        <span><i class="fal fa-chevron-right"></i> </span>
                    </div>
                </div>
                <ul class="body_admin-left-menu-list">
                    <li class="body_admin-left-menu-list-items"><a href="/admin-add-account" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Add Account</span></a></li>
                    <li class="body_admin-left-menu-list-items"><a href="/admin-account-details" class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Account Details</span></a></li>
                </ul>
            </div>
            <button class="col-sm-6 btn product_details-addcart-btn" onclick="logout()">Logout</button>
        </div>
    </div>
</div>