<footer class="footer">
    <div class="grid container">
        <div class="row">
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">support</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="/delivery-method" class="footer__list-items-link">delivery method</a></li>
                    <li class="footer__list-items"><a href="/payment-methods" class="footer__list-items-link">payment methods</a></li>
                    <li class="footer__list-items"><a href="/return-process" class="footer__list-items-link">return process</a></li>
                    <li class="footer__list-items"><a href="/frequently-asked-questions" class="footer__list-items-link">frequently asked questions</a></li>
                    <ul class="nav-changelanguages">
                        <li class="nav-changelanguages-dropdown language-switch">
                            <a class="nav-changelanguages-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                             <span class="language-switch-current">English </span><span><i class="far fa-angle-down"></i></span>
                            </a>
                            <ul class="nav-changelanguages-dropdown-menu">
                                <li >
                                 <a role="button" class="english">English</a>
                                </li>
                                <li class="active" >
                                 <a role="button" class="vietnam">Việt Nam</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">contact</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="/store-address" class="footer__list-items-link">store address</a></li>
                    <li class="footer__list-items"><a href="/customer-care" class="footer__list-items-link">customer care</a></li>
                    <li class="footer__list-items"><a href="/offers-for-businesses" class="footer__list-items-link">offers for businesses</a></li>
                    <!-- <li class="footer__list-items"><a href="" class="footer__list-items-link">website reviews</a></li> -->
                    
                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">ABOUT DECATHLON</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="/who-is-deca" class="footer__list-items-link">who is DECATHLON?</a></li>
                    <li class="footer__list-items"><a href="/terms-of-purchase" class="footer__list-items-link">terms of purchase</a></li>
                    <li class="footer__list-items"><a href="/privacy-policy" class="footer__list-items-link">privacy policy</a></li>
                    <!-- <li class="footer__list-items"><a href="" class="footer__list-items-link">Trung tâm trợ giúp</a></li> -->
                    
                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">link</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-facebook-square fb"></i></i>facebook</a></li>
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-instagram ins"></i></i></i>Instagram</a></li>
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-linkedin linke"></i></i>linkedIn</a></li>
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-youtube-square you"></i></i>Youtube</a></li>
                    
                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-8 col-sm-12">
                <h3 class="footer__heading">shipping unit</h3>
                <div class="pay12">
                    <ul>
                        <li><img src="/public/assets/img/viettel.jpg" alt=""></li>
                        <li><img src="/public/assets/img/vnpost.png" alt=""></li>
                        <li><img src="/public/assets/img/ghn.png" alt=""></li>
                    </ul>
                    <ul>
                        <li><img src="/public/assets/img/j&t.png" alt=""></li>
                        <li><img src="/public/assets/img/best.jpg" alt=""></li>
                        <li><img src="/public/assets/img/Grab-express.png" alt=""></li>
                    </ul>
                    <ul>
                        <li><img src="/public/assets/img/shopee1.jpg" alt=""></li>
                        <li><img src="/public/assets/img/logo-ninja-van-240x240-2020.png" alt=""></li>
                        <li><img src="/public/assets/img/DHL-Symbol.png" alt=""></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="photoFooter">
        <p>SPORTS FOR ALL - ALL SPORTS ALL</p>
        <div class="photoDeca">
            <img class="photo132" src="/public/assets/img/decathlon.png" alt="">
            <img class="leaves hide-on-mobile-tablet" src="/public/assets/img/la.png" alt="">
        </div>
        <span>© 2021 Decathlon Vietnam Co., Ltd. Copyright registered</span>
        <img class="tree" src="/public/assets/img/tree.png" alt="">
    </div>
</footer>