<footer class="footer">
    <div class="grid container">
        <div class="row">
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">support</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="/delivery-method" class="footer__list-items-link">delivery method</a></li>
                    <li class="footer__list-items"><a href="/payment-methods" class="footer__list-items-link">payment methods</a></li>
                    <li class="footer__list-items"><a href="/return-process" class="footer__list-items-link">return process</a></li>
                    <li class="footer__list-items"><a href="/frequently-asked-questions" class="footer__list-items-link">frequently asked questions</a></li>

                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">contact</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="/store-address" class="footer__list-items-link">store address</a></li>
                    <li class="footer__list-items"><a href="/customer-care" class="footer__list-items-link">customer care</a></li>
                    <li class="footer__list-items"><a href="/offers-for-businesses" class="footer__list-items-link">offers for businesses</a></li>
                    <!-- <li class="footer__list-items"><a href="" class="footer__list-items-link">website reviews</a></li> -->
                    
                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">ABOUT DECATHLON</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="/who-is-deca" class="footer__list-items-link">who is DECATHLON?</a></li>
                    <li class="footer__list-items"><a href="/terms-of-purchase" class="footer__list-items-link">terms of purchase</a></li>
                    <li class="footer__list-items"><a href="/privacy-policy" class="footer__list-items-link">privacy policy</a></li>
                    <!-- <li class="footer__list-items"><a href="" class="footer__list-items-link">Trung tâm trợ giúp</a></li> -->
                    
                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-4 col-sm-6">
                <h3 class="footer__heading">link</h3>
                <ul class="footer__list">
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-facebook-square fb"></i></i>facebook</a></li>
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-instagram ins"></i></i></i>Instagram</a></li>
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-linkedin linke"></i></i>linkedIn</a></li>
                    <li class="footer__list-items"><a href="" class="footer__list-items-link"><i class="fab fa-youtube-square you"></i></i>Youtube</a></li>
                    
                </ul>
            </div>
            <div class="col col-lg-2-4 col-md-8 col-sm-12">
                <img class="photoPay" src="/public/assets/img/thanh-toan-dien-tu-4.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="footer__coppright">
                <p class="footer__coppright-text">Shopee Co., Ltd</p>
                <p class="footer__coppright-text">Address: 28th floor, Lotte Center Hanoi Building, 54 Lieu Giai, Cong Vi ward, Ba Dinh district, Hanoi. Support call center: 19001221 - Email: cskh@hotro.shopee.vn</p>
                <p class="footer__coppright-text">Enterprise code: 0106773786 issued by Hanoi Department of Planning and Investment for the first time on February 10, 2015</p>
                <p class="footer__coppright-text">© 2015 - Copyright belongs to Shopee Co., Ltd</p>
            </div>
            
        </div>
    </div>
</footer>