<header>
    <nav class="navbar">
        <div class="col col-md-3 col-sm-3 hide-on-pc">
            <label for="nav-mobile-input">
                <ul class="navbar-list">
                    <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                </ul>
             </label>
        </div>
        
        <div class="col col-lg-5 hide-on-mobile-tablet">
            <ul class="navbar-list">
                <label for="nav-mobile-input">
                    <ul class="navbar-list">
                        <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                    </ul>
                </label>
                <li class="navbar-list-items">
                    <a href="" class="navbar-items-link">Main</a>
                    <ul class="header__submenu-list">
                        <div class="grid">
                            <div class="row">
                                <li class="col col-lg-2-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">Home Styles</h3>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-items"><a href="" class=" sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v2 – Full Screen Slider</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                    </ul>
                                </li>
                                <li class="col col-lg-2-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">GLOBAL OPTION</h3>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                    </ul>
                                </li>
                                <li class="col col-lg-2-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">HEADER LAYOUT</h3>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                    </ul>
                                </li>
                                <li class="col col-lg-4 header__submenu-list-items">
                                    <h3 class="header__sub-title">OTHER DEMOS</h3>
                                    <ul class="sub-menu">
                                        <a href="" class="sub-demo">
                                            <img src="./assets/img/decor-home1-768x438.png" alt="" class="sub-menu-img">
                                            <div class="sub-demo-title">
                                                <p class="">Decoration</p>
                                                <p>Demo</p>
                                            </div>
                                            

                                        </a>
                                       
                                    </ul>
                                </li>
                                
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="navbar-list-items"><a href="" class="navbar-items-link">Shop</a></li>
                <li class="navbar-list-items"><a href="" class="navbar-items-link">Product</a></li>
                <li class="navbar-list-items navbar-list-items-dropdown"><a href="" class="navbar-items-link">Page</a>
                <ul class="navbar__list-dropdown">
                    <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 1</a></li>
                    <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 2</a></li>
                    <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 3</a></li>
                </ul>
                </li>
                
                <li class="navbar-list-items disable "><a href="" class="navbar-items-link ">Journal</a></li>
               
            </ul>
            
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-6 navbar-logo">
            <img src="../GOYA/assets/img/logo-light-_1_.png" class="navbar-logo-img"> 
            
        </div>
        <div class="col col-lg-4 col-md-3 col-sm-3">
            <ul class="navbar-list navbar-list-touchbar">
                <div class="navbar-search">
                    
                    <input type="text" class="navbar-search-input">
                    <p class="navbar-search-icon"><i class="fal fa-search"></i></p> 
                    
                </div>
                <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon far fa-user"></i></a></li>
                <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon fal fa-question-circle"></i></a></li>
                <li class="navbar-list-items navbar-list-items-cart hide-on-mobile-tablet cartContainer">
                    <a href="http://localhost:3000/cart" class="navbar-items-link">
                        <i class="navbar-items-link-icon far fa-shopping-cart"></i></i>
                    </a>
                    <div class="navbar-list_cart navbarShowListCart">
                        <!-- navbar-list_cart-nocart add  class này để hiển thị phần không có sản phẩm  -->
                        <!-- <div class="navbar-list_cart-nocart">
                            <img class="navbar-list-nocart-img" src="../mint/assets/image/no-cart.png" alt="">
                            <p class="navbar-list-nocart-text">Chưa có sản phẩm </p>
                        </div> -->
                        
                        <!-- <h4 class="list_cart-heading">Sản phẩm đã thêm </h4>
                        <ul class="list_cart listSelectedProduct">
                        </ul>
                        <button class=" btn btn-primary list-view-cart">Show Cart</button> -->
                        
                    </div>
                    <!-- <p class ="numberProductInCart"></p> -->
                </li>
            </ul>
        </div>
        <input class="nav__mobile-input-checked" type="checkbox" name="" id="nav-mobile-input" hidden >
        <label for="nav-mobile-input" class="navbar__overlay">
           
        </label>
        <div class="navbar__tablet-mobile">
            <header class="navbar__tablet-mobile-header"> 
                <div class="navbar__tablet-mobile-user">
                    <img src="https://avatar-redirect.appspot.com/google/113816191739976626096?size=400" alt="" class="navbar__tablet-mobile-user-img">
                    <div class="navbar__tablet-mobile-user-name">
                        <p>Lê Huy Hiệp</p>
                    </div>
                </div>
                <label for="nav-mobile-input">
                    <div class="navbar__tablet-mobile-icon-close"><a  class="navbar__tablet-mobile-icon-close-link"><i class="fal fa-times"></i></a></div>
                </label>
            </header>
            
            <ul class="navbar__tablet-mobile-list">
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 1</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 2</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 3</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 4</a></li>
                <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 5</a></li>
            </ul>
        </div>
        
    </nav>
</header>