<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/assets/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="public/assets/css/rest.css">
    <link rel="stylesheet" href="public/assets/css/grid.css">
    <link rel="stylesheet" href="public/assets/css/base.css">
    <link rel="stylesheet" href="public/assets/css/admin.css">
    <link rel="stylesheet" href="public/assets/css/modal.css">
    <link rel="stylesheet" href="public/assets/css/admin-list-product.css">
</head>
<body class='theme-dank'>
    <div class="body-warpper">
        <div class="row no-gutters">
            <div class="col col-lg-2">
                <div class="body_admin-left">
                    <div class="body_admin-left-header">
                        <div class="body_admin-left-header-logo">
                        </div>
                        <div><span><i class="fal fa-chevron-right"></i></span></div>
                    </div>
                    <div class="body_admin-left-body">
                        <div class="body_admin-left-menu-warpper">
                            <div class="body_admin-left-menu body_admin-left-menu-active">
                                <div class="body_admin-left-menu-title">
                                    <h2> <span><i class="fal fa-shopping-cart"></i></span> Ecommerce</h2>
                                    <span><i class="fal fa-chevron-right"></i> </span>
                                </div>
                            </div>
                            <ul class="body_admin-left-menu-list">
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Products</span></a></li>
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Product Detail</span></a></li>
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Add Products</span></a></li>
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Order</span></a></li>
                            </ul>
                        </div>
                        <div class="body_admin-left-menu-warpper">
                            <div class="body_admin-left-menu">
                                <div class="body_admin-left-menu-title">
                                    <h2> <span><i class="fal fa-shopping-cart"></i></span> Ecommerce</h2>
                                    <span><i class="fal fa-chevron-right"></i> </span>
                                </div>
                            </div>
                            <ul class="body_admin-left-menu-list">
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link body_admin-left-menu-link-active"><i class="fal fa-long-arrow-right"></i><span>Products</span></a></li>
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Products</span></a></li>
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Products</span></a></li>
                                <li class="body_admin-left-menu-list-items"><a class="body_admin-left-menu-link"><i class="fal fa-long-arrow-right"></i><span>Products</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-10">
                <div class="body_admin-right">
                    <div class="body_admin-right-header">
                        <nav class="body_admin-right-header-navbar">
                            <div class="body_admin-right-header-navbar-search">
                                <input class="body_admin-right-header-navbar-search-input" type="text" placeholder="Type to search">
                                <span><i class="fal fa-search"></i></span>
                            </div>
                            <div class="body_admin-right-header-navbar-menu">
                                <ul class="body_admin-right-header-navbar-menu-list">
                                    <li class="body_admin-right-header-navbar-menu-items">
                                        <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-th"></i></a>
                                    </li>
                                    <li class="body_admin-right-header-navbar-menu-items">
                                        <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-bell"></i></a>
                                    </li>
                                    <li class="body_admin-right-header-navbar-menu-items">
                                        <a href="" class="body_admin-right-header-navbar-menu-link"><i class="fal fa-sticky-note"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="body_admin-right-header-navbar-user-box">
                                <a class="body_admin-right-header-navbar-user-box-link">
                                    <img class="body_admin-right-header-navbar-user-box-avatar" src="https://scontent-hkt1-2.xx.fbcdn.net/v/t1.6435-9/150609262_924202854786569_3111661637071497757_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=45Jgjkw1NZgAX9c-WSs&_nc_ht=scontent-hkt1-2.xx&oh=f5899303f82a85ffe411028273323d90&oe=60DAE8B6" alt="">
                                    <div class="body_admin-right-header-navbar-user-info">
                                        <p class="body_admin-right-header-navbar-user-name">Lê Huy Hiệp</p>
                                        <p class="body_admin-right-header-navbar-user-name">Admin</p>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="body_admin-right-body">
                        <div class="body_admin-right_page-content">
                            <div class="body_admin-right_page-content-card">
                                <div class="page-content-card-warpper">
                                    <h5 class="page-content-card-warpper-title">Recent Orders</h5>
                                    <button class="openModal" id="openModal">Open Modal</button>
                                    <div class="page-content-card-form">
                                        <div class="row ">
                                            <div class="col col-lg-12">
                                                <div class="border">
                                                    <div class="page-content-card-warpper">
                                                        <div class="page-content-table-warpper">
                                                            <body>
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Name</th>
                                                                            <th>Description</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="admin-list-color">
                                                                        
                                                                    </tbody>                    
                                                                </table>
                                                                </body>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="myModal" class="modal">
                                                    <!-- Modal content -->
                                                    <div class="container">
                                                        <div class="modal-content">
                                                            <span class="close">&times;</span>
                                                            <form action="" method="POST" class="form" id="formAddProduct">
                                                                <div class="page-content-card-form">
                                                                    <div class="row ">
                                                                        <div class="col col-lg-12">
                                                                            <div class="border">
                                                                                <div class="page-content-card-warpper">
                                                                                    <div class="row no-gutters">
                                                                                        <div class="col col-lg-12">
                                                                                            <div class="page-content-card-form-input  margin-bottom-2">
                                                                                                <label class="page-content-card-form-input-label" for="">Description</label>
                                                                                                <textarea type="text" class="form-control page-content-form_description" placeholder="Enter code product"></textarea>>
                                                                                                <span class="form-message"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col col-lg-12">
                                                                                            <div class="page-content-card-form-input  margin-bottom-2">
                                                                                                <label class="page-content-card-form-input-label" for="">name</label>
                                                                                                <input type="text" class="form-control page-content-form_name" placeholder="Enter product Name">
                                                                                                <span class="form-message"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="btn-form-add-color col col-md-12">
                                                                                            <button onclick="AddCategory()" type="button" class="form-submit page-content-card-form-btn">SAVE PRODUCT(add)</button>    
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="public/assets/js/admin.js"></script>
<script src="public/assets/js/ajaxAdminListProduct.js"></script>
<script src="public/assets/js/ajaxAdminListCategory.js"></script>
</html>