<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partials/head-user'); -%>
    <%-include('../partials/user-navbar'); -%>
    <link rel="stylesheet" href="/public/assets/css/who-is-deca.css" />
  </head>
  <body></body>
  <footer>
    <%- include('../partials/footer'); %>
    <%-include('../partials/user-script.ejs'); -%>
  </footer>
</html>
