<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
    <%- include('../partials/head-user'); -%>
</head>
<body>
    <%- include('../partials/user-navbar'); -%>
  <section class="body">
    <div class="body-warp">
      <div class="path_bar">
        <ul class="path_bar-list">
          <li class="path_bar-items">
            <a href="" class="path_bar-link"><span>Tất Cả Môn Thể Thao</span></a>
          </li>
          <li class="path_bar-items">
            <a href="" class="path_bar-link"><span>Chạy Bộ</span></a>
          </li>
        </ul>
      </div>
      <div class="product_details-wapper">
        <div class="product_details">
          <div class="container">
            <div class="row product_details-data">
              <div class="col col-lg-7 col-md-12">
                <div class="product_details-thumbnails ">
                  <div class="product-thumbs col">
                    <span  onclick="prevSlides_details()" class="product-thumbs-icon"><i class="far fa-chevron-up"></i></span>
                    <div class="product-thumbs-list">
                      <div class="product-thumbs-slider">
                      </div>    
                    </div>
                    <span class="product-thumbs-icon" onclick="plusSlides_details()" ><i class="far fa-chevron-down"></i></span>
                  </div>
                  <div class="product-main-image col"></div>
                </div>
              </div>
              <div class="col col-lg-5 col-md-12">
                <div class="right_content">
                  <div class="product_details-heading">
                  </div>
                  <div class="product-price-ratting">
                    <div class="product_details-price"></div>
                    <div class="product_details-ratting">
                      <h4 class="product_details-medium-score"></h4>
                      <span class="product_details-star">★</span>
                      <span class="product_details-point">8</span>
                    </div>
                    <div class="product_details-all-review">
                      <button class="product_details-all-review-btn">Xem tất cả đánh giá </button>
                    </div>
                  </div>
                  <div class="protect-details-logo">
                    <a href="" class="protect-detail-logo-link">
                      <img src="https://contents.mediadecathlon.com/s810456/k$3d1c34a67fc4a7d2659a8f40f2f68cb7/Warranty.png" class="protect-details-logo-img"></img>
                      <h3>BẢO HÀNH <small>TỐI THIỂU 2 NĂM</small></h3>
                    </a>
                  </div>
                  <div class="product_details-color">
                    <h5 class="product-details-color-title">Nhiều màu có sẵn</h5>
                    <span onclick=" prevSlides_detailsColor()" class="swiper-slide-icon"><i class="fal fa-chevron-left"></i></span>
                    <div class="product_details-swiper">
                      <div class="product_details-swiper-list">
                      </div>
                      </div>
                    <span class="swiper-slide-icon" onclick="plusSlides_detailsColor()"><i class="fal fa-chevron-right"></i></span>
                  </div>
                  <div class="product_details-size">
                    <h5 class="product-details-color-title">Kích cỡ </h5>
                    <div class="product_details-size-opion">
                      <form action="">
                        <select class="product_details-size-list-option">
                          <option class="product_details-size-items-option" value="Size">Chọn cỡ </option>
                          
                        </select>
                      </form>
                    </div>
                    <a class="tutorial-size-link">
                      <img src="./assets/image/choosesizeimg.svg" alt="" class="tutorial-size-img">
                      Hướng dẫn chọn cỡ 
                      <span><i class="fal fa-chevron-right"></i></span>
                    </a>
                  </div>
                  <div class="product_details-addcart">
                    <div class="row">
                      <div class="col col-lg-6 col-md-6">
                        <button class="btn product_details-addcart-btn product_details-addcart-btn-yellow">
                          Thêm vào giỏ hàng 
                        </button>
                      </div>
                      <div class="col col-lg-6 col-md-6">
                        <button class="btn product_details-addcart-btn">
                         Mua Tại của hàng  
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-lg-12 col-md-12">
                <div class="product_details-delivery">
                  <div class="row">
                    <div class="col col-lg-7 col-md-7">
                      <div class="delivery-pincode">
                        <h5 class="delivery-pincode-title">Giao hàng</h5>
                        <p class="delivery-pincode-description">HÌnh thức giao hàng có sẵn tỉnh và quận </p>
                      </div>
                      <div class="pincode">
                        <span class="pincode-text">Hồ Chí Minh Quận 1 
                          <span class="pincode-icon"><i class="fad fa-check-circle"></i></span>
                        </span>
                        
                        <a class="btn pincode-link" href=""> Thay Đổi </a>
                      </div>
                    </div>
                    <div class="col col-lg-5 col-md-5">
                      <div class="delivery-returns">
                        <div class="col col-lg-6">
                          <div class=" delivery-policy-returns">
                            <img class="delivery-policy-returns-img" src="https://contents.mediadecathlon.com/s851535/k$7285cd81017f2c25c701d143ba2114fe/freeship%20icons.png" alt="">
                            <span>Miễn phí vận chuyển </span>
                          </div>
                        </div>
                        <div class="col col-lg-6">
                          <div class=" delivery-policy-returns">
                            <img class="delivery-policy-returns-img" src="https://contents.mediadecathlon.com/s851541/k$fe3410a0ac8a60730343ef9a21e071ae/return%20icons.png" alt="">
                            <span>30 Ngày trả hàng</span>
                          </div>
                        </div>
                            
                      </div>
                    </div>
                    <div class="col col-lg-12 col-md-12">
                      <div class="delivery-services-info">
                        <div class="delivery-services-info-warpper">
                          <span class="delivery-services-info-icon"><i class="fal fa-truck-moving"></i></span>
                          <div>
                            <p class="delivery-services-info-description">GIAO HÀNG TẠI NHÀ Từ Thứ bảy, 19/06</p>
                            <p class="delivery-services-info-text">Order before 1:00PM</p>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col col-lg-12 col-md-12">
                      <div class="delivery-services-info">
                        <div class="delivery-services-info-warpper">
                          <span class="delivery-services-info-icon"><i class="fal fa-boxes"></i></span>
                          <div>
                            <p class="delivery-services-info-description">Tất cả điểm lấy hàng </p>
                          </div> 
                        </div>
                        <button class="delivery-services-info-btn">Tất cả điểm lấy hàng <span class="delivery-services-info-btn-icon"><i class="fal fa-chevron-right"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-lg-12">
                <div class="product_details-tab">
                  <!-- Tab items -->
                  <div class="tabs">
                    <div class="tab-item active">
                        <i class="tab-icon fas fa-code"></i>
                        Lợi ích của sản phẩm
                    </div>
                    <div class="tab-item">
                        <i class="tab-icon fas fa-cog"></i>
                        Chi tiết sản phẩm 
                    </div>
                    <div class="tab-item">
                        <i class="tab-icon fas fa-plus-circle"></i>
                        Đánh Giá
                    </div>
                    <div class="tab-item">
                        <i class="tab-icon fas fa-pen-nib"></i>
                        Dịch Vụ 
                    </div>
                    <div class="line"></div>
                  </div>
                  <!-- Tab content -->
                  <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                              <div class="col col-lg-6 col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <img class="media-left-img photoAdvantages1" src="https://contents-spid.decathlon.net/pictoBu/a9/2b/a92b61db-fb4d-428b-bacd-05793d96c174.jpg" alt="">
                                  </div>
                                  <div class="media-body">
                                    <h6 class="avdantagesTitle1"></h6>
                                    <p class="advantageContent01"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col col-lg-6 col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <img class="media-left-img photoAdvantages2" src="https://contents-spid.decathlon.net/pictoBu/a9/2b/a92b61db-fb4d-428b-bacd-05793d96c174.jpg" alt="">
                                  </div>
                                  <div class="media-body">
                                    <h6 class="avdantagesTitle2"></h6>
                                    <p class="advantageContent02"></p>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="col col-lg-6 col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <img class="media-left-img" src="https://contents-spid.decathlon.net/pictoBu/a9/2b/a92b61db-fb4d-428b-bacd-05793d96c174.jpg" alt="">
                                  </div>
                                  <div class="media-body">
                                    <h6>Khả năng khô nhanh</h6>
                                    <p>Vải tản mồ hôi giúp bạn luôn khô thoáng.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col col-lg-6 col-md-6">
                                <div class="media">
                                  <div class="media-left">
                                    <img class="media-left-img" src="https://contents-spid.decathlon.net/pictoBu/a9/2b/a92b61db-fb4d-428b-bacd-05793d96c174.jpg" alt="">
                                  </div>
                                  <div class="media-body">
                                    <h6>Khả năng khô nhanh</h6>
                                    <p>Vải tản mồ hôi giúp bạn luôn khô thoáng.</p>
                                  </div>
                                </div>
                              </div> -->
                            </div>    
                        </div>
                        <div class="tab-pane">
                            <h2>Angular</h2>
                            <p>Angular is an application design framework and development platform for creating efficient and
                                sophisticated single-page apps.</p>
                        </div>
                        <div class="tab-pane ">
                            <div class="product-review">
                              <h2 class="product-review-title">ĐÁNH GIÁ NGƯỜI DÙNG</h2>
                              <div class="row no-gutters">
                                <div class="col col-lg-3 col-md-12">
                                  <div class="product-review-overview product-review-overview-progress-bar">
                                    <h3 class="product-review-overview-point ">4.55/5</h3>
                                    <div class="product-review-overview-counts ">
                                      <div class="product-review-overview-rate ">
                                        <svg class="full svelte-1eztogk" viewBox="0 0 32 32" widht="1.1em" height="1em" style="fill: url(&quot;#gradient-full-1-26&quot;);"><linearGradient id="gradient-full-1-26"><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="100%"></stop></linearGradient><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377
                                          6.1863042 2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <svg class="full svelte-1eztogk" viewBox="0 0 32 32" widht="1.1em" height="1em" style="fill: url(&quot;#gradient-full-1-26&quot;);"><linearGradient id="gradient-full-1-26"><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="100%"></stop></linearGradient><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377
                                          6.1863042 2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <svg class="full svelte-1eztogk" viewBox="0 0 32 32" widht="1.1em" height="1em" style="fill: url(&quot;#gradient-full-1-26&quot;);"><linearGradient id="gradient-full-1-26"><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="100%"></stop></linearGradient><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377
                                          6.1863042 2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <svg class="full svelte-1eztogk" viewBox="0 0 32 32" widht="1.1em" height="1em" style="fill: url(&quot;#gradient-full-1-26&quot;);"><linearGradient id="gradient-full-1-26"><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="100%"></stop></linearGradient><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377
                                          6.1863042 2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <svg class="half svelte-1eztogk" viewBox="0 0 32 32" widht="1.1em" height="1em" style="fill: url(&quot;#gradient-half-4-31&quot;);"><linearGradient id="gradient-half-4-31"><stop stop-color="#fdc62e" offset="0%"></stop><stop stop-color="#fdc62e" offset="55.00000000000001%"></stop><stop stop-color="#d4d7d9" offset="55.00000000000001%"></stop><stop stop-color="#d4d7d9" offset="100%"></stop></linearGradient><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377
                                          6.1863042 2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                      </div>
                                      <p><strong>470 Đánh Giá</strong></p>
                                      <p><strong>436 Người</strong>  dùng giới thiệu sản phẩm này</p>
                                      <a class="product-review-overview-counts-btn product-review-overview-counts-btn-primary" href="">Đưa ra ý kiến của bạn </a>
                                      <a class="product-review-overview-counts-btn " href=""> Xem tất cả bình luận </a>
                                    </div>
                                    <nav class="product-review-overview-progress-bar product-review-overview-progress-bar-list">
                                      <div class="review-note-filter">
                                        <span>5</span>
                                        <svg viewBox="0 0 32 32" width="1.1em" height="1em" aria-hidden="true" class="svelte-tlp293"><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377 6.1863042
                                          2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <div class="progress-holder">
                                          <span class="progress-gauge" style="width:70%"></span>
                                        </div>
                                        <span class="reviews-count">306</span>
                                        <a class="progress-holder-btn"><i class="fal fa-angle-right"></i></a>
                                      </div>
                                      <div class="review-note-filter">
                                        <span>4</span>
                                        <svg viewBox="0 0 32 32" width="1.1em" height="1em" aria-hidden="true" class="svelte-tlp293"><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377 6.1863042
                                          2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <div class="progress-holder">
                                          <span class="progress-gauge" style="width:20%"></span>
                                        </div>
                                        <span class="reviews-count">131</span>
                                        <a class="progress-holder-btn"><i class="fal fa-angle-right"></i></a>
                                      </div>
                                      <div class="review-note-filter">
                                        <span>3</span>
                                        <svg viewBox="0 0 32 32" width="1.1em" height="1em" aria-hidden="true" class="svelte-tlp293"><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377 6.1863042
                                          2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <div class="progress-holder">
                                          <span class="progress-gauge" style="width:5%"></span>
                                        </div>
                                        <span class="reviews-count">21</span>
                                        <a class="progress-holder-btn"><i class="fal fa-angle-right"></i></a>
                                      </div>
                                      <div class="review-note-filter">
                                        <span>2</span>
                                        <svg viewBox="0 0 32 32" width="1.1em" height="1em" aria-hidden="true" class="svelte-tlp293"><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377 6.1863042
                                          2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <div class="progress-holder">
                                          <span class="progress-gauge" style="width:3%"></span>
                                        </div>
                                        <span class="reviews-count">10</span>
                                        <a class="progress-holder-btn"><i class="fal fa-angle-right"></i></a>
                                      </div>
                                      <div class="review-note-filter">
                                        <span>1</span>
                                        <svg viewBox="0 0 32 32" width="1.1em" height="1em" aria-hidden="true" class="svelte-tlp293"><path d="m16 26.0943175-8.59386153
                                          3.819494c-.76761529.3411624-1.5883458-.3588243-1.37259057-1.1706584l2.35327244-8.8547885-6.0989377-6.1863042c-.58190844-.5902442-.23437487-1.5915311.58808263-1.6943383l7.49636683-.9370458
                                          4.7535106-8.55631923c.3810053-.68580943 1.3673093-.68580943 1.7483146 0l4.7535106 8.55631923
                                          7.4963668.9370458c.8224575.1028072 1.1699911 1.1040941.5880827 1.6943383l-6.0989377 6.1863042
                                          2.3532724 8.8547885c.2157552.8118341-.6049753 1.5118208-1.3725906 1.1706584z"></path>
                                        </svg>
                                        <div class="progress-holder">
                                          <span class="progress-gauge" style="width:1%"></span>
                                        </div>
                                        <span class="reviews-count">2</span>
                                        <a class="progress-holder-btn"><i class="fal fa-angle-right"></i></a>
                                      </div>
                                      
                                    </nav>
                                    <div class="product-review-footer ">
                                      <a href="">Tại Decathlon, các ý kiến ​​đều đáng tin cậy.</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col col-lg-9 col-md-12">
                                  <section class="review-list">
                                    <div class="review-list-top">
                                      <h3>1 - 3 trong số 470 bình luận</h3>
                                    </div>
                                    <div class="review-list-body">
                                      <a class="product-review-overview-counts-btn seemore_review"><span>Thêm Bình Luận </span></a>
                                      <div style="display:none" class="review-add">
                                        <div>
                                          <label for="">Title</label>
                                          <input class="review-add-title" type="text">
                                        </div>
                                        <div>
                                          <label class="page-content-card-form-input-label" for="">Rate</label>
                                            <select name="productRate" class="review-add-rate">
                                              <option value="5">5</option>
                                              <option value="4">4</option>
                                              <option value="3">3</option>
                                              <option value="2">2</option>
                                              <option value="1">1</option>
                                            </select>                                                          
                                        </div>
                                        <div>
                                          <label for="">comment</label>
                                          <textarea class="review-add-comment" type="text"></textarea>
                                        </div>
                                        <button class="btn-review-add">add</button>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane ">
                          <div class="row">
                            <div class="col col-lg-6">
                              <div class="media">
                                <div class="media-left">
                                  <img class="media-left-img" src="https://contents.mediadecathlon.com/b64758/k$8eda731275b508049d158b5742020108/picto%20int%20decathlon%20pictos%20services%20maintain%20and%20repair.png" alt="">
                                </div>
                                <div class="media-body">
                                  <h6>Xưởng </h6>
                                  <p>Khám phá tất cả các dịch vụ sửa chữa và bảo dưỡng của chúng tôi cho thiết bị thể thao của bạn!</p>
                                  <a href="">THÊM THÔNG TIN</a>
                                </div>
                              </div>
                            </div>
                            <div class="col col-lg-6">
                              <div class="media">
                                <div class="media-left">
                                  <img class="media-left-img" src="https://contents.mediadecathlon.com/b64758/k$8eda731275b508049d158b5742020108/picto%20int%20decathlon%20pictos%20services%20maintain%20and%20repair.png" alt="">
                                </div>
                                <div class="media-body">
                                  <h6>Xưởng </h6>
                                  <p>Khám phá tất cả các dịch vụ sửa chữa và bảo dưỡng của chúng tôi cho thiết bị thể thao của bạn!</p>
                                  <a href="">THÊM THÔNG TIN</a>
                                </div>
                              </div>
                            </div>
                            <div class="col col-lg-6">
                              <div class="media">
                                <div class="media-left">
                                  <img class="media-left-img" src="https://contents.mediadecathlon.com/b64758/k$8eda731275b508049d158b5742020108/picto%20int%20decathlon%20pictos%20services%20maintain%20and%20repair.png" alt="">
                                </div>
                                <div class="media-body">
                                  <h6>Xưởng </h6>
                                  <p>Khám phá tất cả các dịch vụ sửa chữa và bảo dưỡng của chúng tôi cho thiết bị thể thao của bạn!</p>
                                  <a href="">THÊM THÔNG TIN</a>
                                </div>
                              </div>
                            </div>
                            <div class="col col-lg-6">
                              <div class="media">
                                <div class="media-left">
                                  <img class="media-left-img" src="https://contents.mediadecathlon.com/b64758/k$8eda731275b508049d158b5742020108/picto%20int%20decathlon%20pictos%20services%20maintain%20and%20repair.png" alt="">
                                </div>
                                <div class="media-body">
                                  <h6>Xưởng </h6>
                                  <p>Khám phá tất cả các dịch vụ sửa chữa và bảo dưỡng của chúng tôi cho thiết bị thể thao của bạn!</p>
                                  <a href="">THÊM THÔNG TIN</a>
                                </div>
                              </div>
                            </div>
                            <div class="col col-lg-6">
                              <div class="media">
                                <div class="media-left">
                                  <img class="media-left-img" src="https://contents.mediadecathlon.com/b64758/k$8eda731275b508049d158b5742020108/picto%20int%20decathlon%20pictos%20services%20maintain%20and%20repair.png" alt="">
                                </div>
                                <div class="media-body">
                                  <h6>Xưởng </h6>
                                  <p>Khám phá tất cả các dịch vụ sửa chữa và bảo dưỡng của chúng tôi cho thiết bị thể thao của bạn!</p>
                                  <a href="">THÊM THÔNG TIN</a>
                                </div>
                              </div>
                            </div>
                            <div class="col col-lg-6">
                              <div class="media">
                                <div class="media-left">
                                  <img class="media-left-img" src="https://contents.mediadecathlon.com/b64758/k$8eda731275b508049d158b5742020108/picto%20int%20decathlon%20pictos%20services%20maintain%20and%20repair.png" alt="">
                                </div>
                                <div class="media-body">
                                  <h6>Xưởng </h6>
                                  <p>Khám phá tất cả các dịch vụ sửa chữa và bảo dưỡng của chúng tôi cho thiết bị thể thao của bạn!</p>
                                  <a href="">THÊM THÔNG TIN</a>
                                </div>
                              </div>
                            </div>
                            
                          </div>    
                      </div>
                  </div>
                </div>
              </div>
              <div class="col col-lg-12 col-md-12 col-sm-12">
                <div class="recommended-Products">
                  <h2 class="recommended-Products-title">SẢN PHẨM KHUYẾN NGHỊ CỦA CHÚNG TÔI</h2>
                  <div class="recommended-Products-list">
                    <div class="recommended-Products-list-items">
                      
                        <div class="col col-lg-3">
                          <div class="product-items">
                            <div class="product_gallert">
                                <div class="product_gallert-slider">
                                    <img src="./assets/image/product.jpeg" alt="" class="product_gallert-slider-img">
                                </div>
                            </div> 
                            <div class="product_info-wrapper">
                                <a href="" class="product_info-link">
                                    <span class="product_info-brand">QUECHUA</span>
                                    <span class="product_info-description">váy ngắn đi bộ đường dài tự nhiên -NH500-Nữ</span>
                                </a>
                                <div class="product_info-availability recommended-Products-list-items-info-availability">
                                    <span class="product_info-availability-description ">Có sẵn giao hàng trực tuyến trong vòng chưa đầy 72 giờ</span>
                                </div>
                                <div class="product-info-sticker"><span class="product_info-sticker-description">Phát triển </span></div>
                                <div class="product-info-price"><span class="product_info-price-description">13$</span></div>
                                
                            </div>
                            <a href="" class="product-review-overview-counts-btn recommended-Products-btn"><span>Thêm vào giỏ hàng </span></a>
                          </div>
                        </div>
                        <div class="col col-lg-3">
                          <div class="product-items">
                            <div class="product_gallert">
                                <div class="product_gallert-slider">
                                    <img src="./assets/image/product.jpeg" alt="" class="product_gallert-slider-img">
                                </div>
                            </div> 
                            <div class="product_info-wrapper">
                                <a href="" class="product_info-link">
                                    <span class="product_info-brand">QUECHUA</span>
                                    <span class="product_info-description">váy ngắn đi bộ đường dài tự nhiên -NH500-Nữ</span>
                                </a>
                                <div class="product_info-availability recommended-Products-list-items-info-availability">
                                    <span class="product_info-availability-description ">Có sẵn giao hàng trực tuyến trong vòng chưa đầy 72 giờ</span>
                                </div>
                                <div class="product-info-sticker"><span class="product_info-sticker-description">Phát triển </span></div>
                                <div class="product-info-price"><span class="product_info-price-description">13$</span></div>
                                
                            </div>
                            <a href="" class="product-review-overview-counts-btn recommended-Products-btn"><span>Thêm vào giỏ hàng </span></a>
                          </div>
                        </div>
                        <div class="col col-lg-3">
                          <div class="product-items">
                            <div class="product_gallert">
                                <div class="product_gallert-slider">
                                    <img src="./assets/image/product.jpeg" alt="" class="product_gallert-slider-img">
                                </div>
                            </div> 
                            <div class="product_info-wrapper">
                                <a href="" class="product_info-link">
                                    <span class="product_info-brand">QUECHUA</span>
                                    <span class="product_info-description">váy ngắn đi bộ đường dài tự nhiên -NH500-Nữ</span>
                                </a>
                                <div class="product_info-availability recommended-Products-list-items-info-availability">
                                    <span class="product_info-availability-description ">Có sẵn giao hàng trực tuyến trong vòng chưa đầy 72 giờ</span>
                                </div>
                                <div class="product-info-sticker"><span class="product_info-sticker-description">Phát triển </span></div>
                                <div class="product-info-price"><span class="product_info-price-description">13$</span></div>
                                
                            </div>
                            <a href="" class="product-review-overview-counts-btn recommended-Products-btn"><span>Thêm vào giỏ hàng </span></a>
                          </div>
                        </div>
                        <div class="col col-lg-3">
                          <div class="product-items">
                            <div class="product_gallert">
                                <div class="product_gallert-slider">
                                    <img src="./assets/image/product.jpeg" alt="" class="product_gallert-slider-img">
                                </div>
                            </div> 
                            <div class="product_info-wrapper">
                                <a href="" class="product_info-link">
                                    <span class="product_info-brand">QUECHUA</span>
                                    <span class="product_info-description">váy ngắn đi bộ đường dài tự nhiên -NH500-Nữ</span>
                                </a>
                                <div class="product_info-availability recommended-Products-list-items-info-availability">
                                    <span class="product_info-availability-description ">Có sẵn giao hàng trực tuyến trong vòng chưa đầy 72 giờ</span>
                                </div>
                                <div class="product-info-sticker"><span class="product_info-sticker-description">Phát triển </span></div>
                                <div class="product-info-price"><span class="product_info-price-description">13$</span></div>
                                
                            </div>
                            <a href="" class="product-review-overview-counts-btn recommended-Products-btn"><span>Thêm vào giỏ hàng </span></a>
                          </div>
                        </div>
                        <div class="col col-lg-3">
                          <div class="product-items">
                            <div class="product_gallert">
                                <div class="product_gallert-slider">
                                    <img src="./assets/image/product.jpeg" alt="" class="product_gallert-slider-img">
                                </div>
                            </div> 
                            <div class="product_info-wrapper">
                                <a href="" class="product_info-link">
                                    <span class="product_info-brand">QUECHUA</span>
                                    <span class="product_info-description">váy ngắn đi bộ đường dài tự nhiên -NH500-Nữ</span>
                                </a>
                                <div class="product_info-availability recommended-Products-list-items-info-availability">
                                    <span class="product_info-availability-description ">Có sẵn giao hàng trực tuyến trong vòng chưa đầy 72 giờ</span>
                                </div>
                                <div class="product-info-sticker"><span class="product_info-sticker-description">Phát triển </span></div>
                                <div class="product-info-price"><span class="product_info-price-description">13$</span></div>
                                
                            </div>
                            <a href="" class="product-review-overview-counts-btn recommended-Products-btn"><span>Thêm vào giỏ hàng </span></a>
                          </div>
                        </div>
                        
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
<%- include('../partials/user-script.ejs'); -%>
<script src="/public/assets/js/tab_ui.js"></script>
<script src="/public/assets/js/ajaxProductDetails.js"></script>
</html>