.pdlr{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}
.account-details{
    background-color: #fff;
    color: var(--text-color)
}
.account-details-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 40%);
    padding: 5rem 2rem;
}
.account-details-card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.account-details-card-avatar{
    width:110px;
    height: 110px;
    background-color: #8833ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem
}
.account-details-card-img{
    width:95%;
    border-radius: 50%;
}
.account-details-card-description-text h4{
    margin-bottom: 0; 
    font-size: 1.6rem;
}
.account-details-card-description-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
}
.account-details-card-desc{
    margin-bottom:0;
    padding: 0rem 1rem;
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.account-details-list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0;
}
.my-4{
    margin: 1rem 0;
    color: black;
    background-color: black;
    border: 0;
    opacity: .25;
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    display: block;
   
}
hr:not([size]){
    height: 1px;
    width: 100%;
}
.account-details-list-group-items{
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0 0 1px;
    font-size: 1.4rem;
}
.account-details-list-group-items-link-description{
    margin: 0;
    font-size: 1.5rem;
    
}
.account-details-list-group-items-link{
    color: #6c757d;
    text-decoration: none;
}