.page-content-table-warpper{
    display: grid;
    color: #4f546c;
    font-size: 1.4rem;
    background-color: #f9fbff;
    max-height: 550px;
    overflow: auto;
}

.backToProductDetail{
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
table {
    border-collapse: collapse;
    /* box-shadow: 0 5px 10px #e1e5ee; */
    /* background-color: white; */
    text-align: left;
    overflow: hidden;
    width: 100%;
  }
thead {
    border-bottom: .1rem solid;
    box-shadow: 0 5px 10px #e1e5ee;
    text-align: center;
}
tbody{
    text-align: center;
}
th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    font-weight: 900;
}
  
td {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
    max-width: 100px;
}
td img{
    width: 50px;
    height: 50px;
}
.bannerSaleImg{
    width:100%;
    height:auto
}
a {
    text-decoration: none;
    color:#2962ff;
}
.status {
    border-radius:  0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
.status-pending {
    background-color: #fff0c2;
    color: #a68b00;
}
  
.status-paid {
    background-color: #c8e6c9;
    color:  #388e3c;
}
  
.status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
}
.amount {
    text-align: right;
}
tr:nth-child(even) {
    background-color: #f4f6fb;
}

   