:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white-color: #fff;
    --gray: #6c757d;
    --light: #f8f9fa;
    --dark: #343a40;
    --text-color:#343a40;
    --primary-color: #017CBC;
    --border-color-dark:#edeff1;
    --margin--section:50px 0px;
    --font-size-title:1.6rem;
    --min-height-section:360px;
    --width-section:100vw;
    --padding-section-mobile:0px 30px;
    --padding-section:3.2rem 0;
}
*{
    box-sizing: border-box;
}

html{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    color: var(--text-color);
    text-align: left;
    background-color: #fff;
    letter-spacing: 0px;
}
.disable .navbar-items-link{
    cursor: default !important;
    color: #ccc !important;
}
.disable:hover .navbar-items-link::after{
    background-color: transparent;
    width: 0 !important;
}
/* button */
.btn{
    display: inline-flex;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    color:var(--text-color);
    cursor: pointer;
    outline: none;
    background-color: #28a745;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    color: #212529;
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn--disable{
    cursor: default;
    color: #ccc;
    background-color: rgb(165, 164, 164);

}
/* end button */

/* Mobile & tablet */
.hide-on-pc{
    display: none;
}
@media (max-width :1023px){
    .hide-on-pc{
        display: block;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .navbar-logo{
        text-align: center;
    }
    .navbar-logo-img{
        width: 50%;
    }
}
/* tablet */
@media (min-width :740px) and (max-width :1023px)  {
    .hide-on-tablet{
        display: none;
    }
}
@media (max-width :739px){
    .hide-on.mobile{
        display: none;
    }
}
    