/* navigation bar  */
.navbar{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    background:var(--white-color);
}
.navbar-fiexd{
    position:fixed;
    background-color: #fff;
}
.navbar-logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar-list{
    display: flex;
    list-style: none;
    position: relative;
}

.navbar-items-link::after {
    content: '';
    display: block;
    width: 0;
    margin: 0.2rem -0.1rem;
    height: 2px;
    background-color:var(--dark);
    transition: width ease 1s;
}
.navbar-list-items:hover .navbar-items-link::after  {
    width: 100%;
}
.navbar-items-link{
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1rem;
    letter-spacing: 2px;
    margin-right: 1.6rem;
    
}
.navbar-list-items-dropdown{
    position: relative;
}
.navbar-list-items-dropdown:hover .navbar__list-dropdown{
    display: block;
    /* transition: all 300ms ease-in-out; */
    animation: fadeIn  ease-in-out .7s ;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.navbar__list-dropdown{
    display: none;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    z-index: 1;
    padding: 0;
    box-shadow: 0 2px 10px #6666;
}
.navbar__list-dropdown::before{
    content: "";
    position: absolute;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -24px;
    left: 24px;
}
.navbar__list-dropdown::after{
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    width: 73px;
    height: 20px;
    top: -20px;
    left: 3px;
}
.navbar__list-items-dropdown{
    list-style: none;
    /* border-bottom: 1px solid rgba(176, 171, 171 ,1); */
    text-align: left;
    box-shadow: 0px 2px 5px 1px rgba(150, 150, 150 ,0.2);
    min-width: 190px;
    width: 100%;
    
}
.navbar__list-items-dropdown:hover .navbar__list-items-dropdown-link{
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 0.9rem;
    transition: all 300ms ease-in-out;
   
}
.navbar__list-items-dropdown-link{
    display: flex;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--text-color);
}
.navbar-list-touchbar{
    justify-content: flex-end;
    align-items: center;
}
.navbar-list-touchbar .navbar-items-link{
    margin: 0;
    padding: 0 1.4rem;
}
.navbar-svg-icon{
    display: block;
    min-width: 20px;
    min-height: 20px;
}
.navbar-svg-icon path{
    fill: var(--white-color);
}
.search-path{
    stroke: var(--white-color);
}
.navbar-list-items-search:hover .search-path{
    stroke:var(--dark);
}
.navbar-list-items-search:active .search-path{
    stroke: #000000;
    stroke-width: 2px;
}
.navbar__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0 ,0.4);
    z-index: 2;
    display: none;
    animation: fadeIn linear 0.3s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.nav__mobile-input-checked:checked ~ .navbar__overlay{
    display: block;
}
.nav__mobile-input-checked:checked ~ .navbar__tablet-mobile{
    transform: translateX(0%);
}
.navbar__tablet-mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    z-index: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(100,100,100,.4);
    box-shadow: 0 3px 8px rgb(0 0 0 / 25%);
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}
.navbar__tablet-mobile-list{
    margin-top: 0;
    padding: 1rem;
}
.navbar__tablet-mobile-items{
    list-style: none;
}
.navbar__tablet-mobile-items-link{
    text-decoration: none;
    color: var(--text-color);
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 1rem 0;
    display: block;
    color: var(--text-color);
    width: 100%;
    
}
.navbar__tablet-mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.navbar__tablet-mobile-user{
    display: flex;
    align-items: center;
}
.navbar__tablet-mobile-user-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.navbar__tablet-mobile-user-name{
    font-size: 1.6rem;
    padding: 0 1rem;
    font-weight: 600;
}
.navbar__tablet-mobile-icon-close-link{
    font-size: 3rem;
}

header{
    background-color: var(--white-color);
}
header:hover{
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    background-color: white;
}
.navbar{
    /* background-color: wheat; */
}
.navbar-list{
    padding: 0;
    position: relative;
    align-items: center;
}
.navbar__list-dropdown::before{
    top: -20px;
    left: 6px;
}
.navbar-items-link{
    font-size: 1.4rem;
    margin-right: 1rem;
    padding-left: 1.4rem;
    color: var(--text-color);
}
.search-path{
    stroke: var(--text-color);
}
.navbar-svg-icon path{
    fill: var(--text-color);
}
.navbar-logo-img{
    width: 30%;
    max-height: 24px;
}
.navbar-list-items:hover .header__submenu-list{
    display: block;
}
.header__submenu-list{
    display: none;
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 40px);
    left: -6%;
    width: 100vw;
    border-top: 1px solid rgb(230, 229, 229);
    animation: fadeIn  ease-in-out .7s ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header__submenu-list::after{
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index: 4;

    /* background-color: blue; */
}
.header__submenu-list-items{
    list-style: none;
    padding: 0px 30px;
    font-size: 0.9rem;
    color: var(--text-color);
}
.header__sub-title{
    margin-bottom:0 ;
}
.sub-menu{
    padding: 0;
    /* font-size: 1rem; */
    list-style: none;
}
.sub-menu-items-link{
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-color);
    padding: 10px 0px;
    display: inline-block;
    font-weight: 600;

}

.sub-menu-items-link::after{
    content: '';
    display: block;
    width: 0;
    margin: 0.2rem -0.1rem;
    height: 2px;
    background-color:var(--dark);
    transition: width ease 1s;
}
.sub-menu-items:hover .sub-menu-items-link::after{
    width:100%;
}
.sub-demo{
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}
.sub-menu-img{
    width: 70%;
}
.sub-demo-title{
    display: flex;
    font-size: 0.9rem;
}
.sub-demo-title p{
    padding-right: 10px;
}
.sub-demo-title p:nth-child(2){
    background: #B9A16B;
    border-radius: 7px;
    padding-left: 10px 10px;
    padding: 4px;
    color: var(--white-color);
    font-size: 0.7rem;
}

.navbar-list-items-cart:hover .navbar-list_cart{
    display:block
}
.navbar-list_cart{
    display:none;
    position:absolute;
    top:100%;
    right:2%;
    z-index: 1;
    background:var(--white-color);
    width:400px;
    border-radius: 2px;
    box-shadow:0 2px 10px #666;
    cursor:default;
}
.navbar-list_cart::after{
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -18%;
    right: 7%;
}
.navbar-list-items-cart::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: 50%;
    right: 6%;
    background: transparent;
}

.navbar-list_cart-nocart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-list_cart-nocart .navbar-list-nocart-img,
.navbar-list_cart-nocart .navbar-list-nocart-text{
    display:block;
}
.navbar-list-nocart-img{
    display:none;
    width:60%
}
.navbar-list-nocart-text{
    display:none;
    font-size: 1.4rem;
    color: var(--text-color)
}
.list_cart-heading{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0.8rem 0px 0.8rem 1.2rem;
}
.list_cart{
    padding:0;
    list-style: none;
    max-height: 30vh;
    overflow-y: auto;
}
.list-cart-items{
    display: flex;
    /* align-items: center; */
}
.list-cart-items:hover{
    background-color: #f8f8f8
}
.list-cart-items-img{
    width:42px;
    height:42px;
    margin:12px
}
.list-cart-item-wrapper{
    width:100%;
    margin-right: 12px;
}
.list-cart-item-head,
.list-cart-item-body{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.list-cart-item-name{
    font-size:1.2rem;
    font-weight: 500;
    color: var(--text-color);
    max-width: 22.6rem;
    text-align: left;
    line-height: 1.4rem;
    margin: 1rem 0;
    padding: 0.5rem 0;
    flex: 1;
    max-height: 3rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.list-cart-item-price{
    font-size: 1.2rem;
    color:red
}
.list-cart-item-multiphy,
.list-cart-item-quatity{
    font-size: 1.2rem;
    color:var(--text-color)
}
.list-cart-item-category,
.list-cart-item-delete{
    font-size: 1rem;
    color:#ccc
}
.list-cart-item-delete{
    font-size:1rem;
    color:var(--text-color)
}
.list-view-cart{
    float: right;
    color: var(--white-color);
    border-radius: 2px;
    margin: 0 1.2rem 1.2rem 0;
    min-width: 12.4rem;
    background-color:blue;
    display: flex;
    justify-content:center;
    height:3rem;
    align-items: center;
}
.navbar-search{
    width:50%;
    padding-right: 3rem;
    display:flex;
    justify-content:center;
    align-items: center;
}
.navbar-search-input{
    width: 100%;
    /* padding: 0.1rem 1rem 0.6rem 0; */
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--text-color);
    font-size: 1.4rem;
    outline: none;  
}
.navbar-search-icon{
    font-size:1.6rem;
    margin:0 -2rem;
}
/* end navigation bar */