
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}
/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
  position:sticky;
  position: -webkit-sticky; /* Safari */
  z-index: 1;
}

.nav-wrapper {
  width: 100%;
  position:sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  background-color: #fff;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
    /* position:sticky; */
}

/* NAVIGATION */

.navbar {
  display: grid;
  /* grid-template-columns:7% 12% auto 25%; */
  align-items: center;
  height: 6.6rem;
  /* overflow: hidden; */
  padding:0 5rem
}

.navbar01 img {
  height: 40px;
  width: auto;
  justify-self: start;
  margin: 0 30px;
}

.navbar01-items{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-self: end;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item .nav-item-icon{
    margin: 0 auto 2px;
    height: 19px;
}

.nav-item a {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-item-text{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
}
.nav-item a:hover .nav-item-text{
    color: var(--primary-color);

}

.nav-item a:hover {
  color: #3498db;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  padding: 0 15px;
}
.search-bar-icon{
    position: absolute;
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 1rem;
}
.search-bar input {
  width: 100%;
  border: 0;
  background: transparent;
  padding: 1rem;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-family: "Nunito Sans", sans-serif;
  border:solid 1px #ccc;
  border-radius: 6px;
  border-right: 7px solid #0078bd;
  font-size:1.4rem;
  padding-left: 4rem;
}
.search-bar input:focus {
  outline: none;
}
.search-bar svg {
  width: 25px;
  padding: 1rem;
}
.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}
input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */
.nav-item:hover .navbar01-list_cart{
  display:block
}
.list-cart-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
header .vertical_nav{
    display: flex;
    align-items: center;
    cursor: pointer;
}
header .vertical_nav .vertical_nav-icon{
    margin-right: 1rem;
}
header .vertical_nav .vertical_nav-icon span{
    display: block;
    width: 24px;
    height: 2px;
    background-color: #424453;
    margin: 7px 0;
    position: relative;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
header .vertical_nav .vertical_nav-icon span:nth-child(2){
    width: 27px;
    background-color: #0082c3;
}
header .vertical_nav .vertical_nav-icon span:nth-child(3){
    width: 33px;
}
header .vertical_nav .vertical_nav-category{
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.pagination-items{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


.navmobileR{
  display: none;
}

.navbar01{
  width: 100%;
  display: flex;
  align-items: center;
}

.aa{
  display: flex;
  flex-direction: row;
}

.aa li{
  padding: 0 10px;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  /* MOBILE HEADINGS */
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
     
  .navbar01-items{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar01 li {
    padding: 15px;
  }
  
  .navbar01 li:first-child {
    margin-top: 50px;
  }
  
  .navbar01 li a {
    font-size: 1rem;
  }
   
  .aa{
    display: none;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
 }
  .navmobileR{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
  .navbar01 {
    display: flex;
    flex-direction: row;
    height: auto !important;
    align-items: center;
    justify-content: space-between;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px 5px;
  }

  .logoNav{
    display: none;
  }

  .navmobileR a{
    font-size: xx-large;
    padding: 5px 15px;
    color: blueviolet
  }
}

