.hide-on-mobile-pc{
    display: none;
}
/* Mobile & tablet */
@media (max-width :1023px){
    .hide-on-mobile-pc{
        display: block;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .navbar-logo{
        justify-content:center;
    }
    .details{
        padding:0
    }
    .carousel-banner_slider{
        height:auto
    }
    .carousel-banner_slider .box .illustration{
        padding:0 5rem 0 9rem;
    }
    .local_brand-list-tablet{
        margin-bottom:2rem
    }
    .carousel-banner_slider .box .details{
        padding:10rem 0rem 10rem 10rem
    }
    .carousel-banner_slider .box .illustration .inner{
        height: 30rem;
        width:22rem
    }
}
/*========================================= tablet================================ */
@media (min-width :740px) and (max-width :1023px)  {
    .information-product-mobile-fillter{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
    }
    .store-fillters{
        background-color: #008CBA;
        color: white;
    }
    .filters-faceting{
        width: 50%;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
    }
    .product-info-price{
        font-size: 1.5em;
    }

}
/*========================================= Mobile================================= */
@media only screen and (max-width :739px){
    body{
        margin: 0 1em;
    }
    .carousel-activate{
        margin-left: 0em;
    }
    .hide-on-mobile{
        display: none !important;
    }
    .topic_sell-warp{
        display: block;
    }
    .topic_sell-right-beach, .topic_sell-right-sport{
        grid-column-start: none; 
        grid-column-end: none;
        grid-row-start: none; 
        grid-row-end: none; 
        padding-left: none;
        padding-right: 0rem;
        grid-gap: 0;
    }
    .topic_sell-left-beach, .topic_sell-left-sport{
        grid-column-start: none; 
        grid-column-end: none;
        grid-row-end: none; 
        padding-left: none;
        padding-right: 0rem;
    }
    .topic_sell-left{
        margin-top: 1.5em;
    }
    .topic_sell-product-list{
        padding:0;
        max-height: 250px;
    }
    .deal-header-title-img{
        width:100%
    }
    .carousel-banner div{
        padding:0
    }
    .carousel-banner_slider .box .illustration{
        display: none;
    }
    .carousel-banner_slider .box .details{
        padding:10rem 0 0 0;
    }
    .carousel-banner_slider .box .details h1{
        color:var(--text-color);
    }
    .carousel-banner_slider .box .details p{
        padding-top: 0;
        color:var(--text-color);
    }
    .carousel-banner .trail{
        bottom:2%
    }
    .carousel-banner_slider .box1{
        background-image:url(https://contents.mediadecathlon.com/s864416/k$eb1ddd543790c25ca57ad925adcee294/slider%20desktop%20content%20image.jpg?format=auto)
    }
    .local_brand-items-link{
        justify-content:center;
    }
    .deal-body{
        width:85%;
        min-height: 400px;
    }
    .topic_sell-banner{
        padding: 1rem 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .topic_sell-banner-detail{
        margin-top:1rem
    }
    .local_brand,
    .activate,
    .deal,
    .topic_sell {
        padding: 0em;
        padding-bottom: 1.5em;
    }
    .deal-header-title-text{
        font-size: 3.4rem;
    }
    .price-btn{
        padding: 0rem 1rem;
    }
    .topic_sell-left{
        max-height: 400px;
        min-height: 300px;
    }
    .topic_sell-right-sea{
        left: 0%;
        top: 70%;
        padding: 0 1em;
        grid-gap: 0;
    }
    .topic_sell--warp-mobile{
        min-height: 400px;
    }
    .topic_sell-banner-detail{
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    .topic_sell-right-indoor{
        grid-gap: 0;
        position: absolute;
        top: 32%;
        left: -6%;
        transform: scale(0.9);
    }
    .topic_sell-right-sport{
        transform: scale(0.9);
        position: relative;
        top: 0%;
        left: 0%;
    }
    .topic_sell-left-sport{
        position: absolute;
    }
    /* .topic_sell-warp{
        min-height: 600px;
    } */
    .topic_sell--warp-mobile{
        min-height: 400px;
    }
    .local_brand-img{
        width: 10.4rem;
    }
    .activate-decs{
        font-size: 2rem;
    }
}

