*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.deliAll div p span{
    font-weight: bold;
    color: cornflowerblue;
}

.storeadd{
    display: flex;
    justify-content: center;
}

.deliAll div h2{
    text-transform: uppercase;
}

