<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/customer-care.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="cuscare">
            <img src="/public/assets/img/cuscare.jpg" alt="">
        </div>
        <div>
            <!-- <h2>CUSTOMER CARE</h2> -->
            <div class="a2">
                <img src="/public/assets/img/cus1.png" alt="">
                <div>
                    <h3>CHĂM SÓC KHÁCH HÀNG</h3>
                    <p>Hotline: 18009044 <br>
                        Email: cskh@decathlon.com<br>
                        Fanpage: Decathlon Vietnam   <br>                    
                        Thời gian làm việc: Thứ 2 - Thứ 7, từ 9h - 22h; Chủ nhật, từ 10 giờ sáng đến 7 giờ tối.</p>
                </div>
             </div>
             
        </div>
        <div>
            <div class="a2">
                <img src="/public/assets/img/cus2.png" alt="">
                <div>
                    <h3>TUYỂN DỤNG</h3>
                    <p>Mọi vấn đề liên quan đến tuyển dụng, vui lòng liên hệ với chúng tôi qua email: Employ.vietnam@decathlon.com hoặc website.</p>
                </div>
        </div>

    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>