<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/delivery-method.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="delivery">
            <img style="width: 100%;" src="/public/assets/img/deliver.png" alt="">
        </div>
        <div>
            <h2>1. Chi phí và Phạm vi giao hàng</h2>
            <p>Vì giá mua tại Decathlon đã là giá tốt nhất mà đội ngũ chúng tôi luôn cố gắng mang đến cho khách hàng bằng cách tối ưu hóa chi phí và giảm thiểu lợi nhuận. Do đó, khi mua hàng tại Decathlon, khách hàng sẽ thanh toán chi phí giao hàng theo chi phí giao hàng mà Decathlon phải thanh toán lại cho công ty vận chuyển.
                Chi phí này không phụ thuộc vào giá trị đơn hàng mà được nhà vận chuyển tính theo trọng lượng và khoảng cách giữa kho Decathlon và địa điểm giao hàng.
                Đội ngũ của chúng tôi luôn cố gắng làm việc với công ty vận chuyển để có giá giao hàng tốt nhất cho khách hàng.
                Hiện tại, Decathlon và các đối tác cung cấp dịch vụ giao hàng trên khắp các tỉnh thành Việt Nam.</p>
        </div>
        <div>
            <h2>2. Thời gian giao hàng</h2>
            <p>Thời gian giao hàng dự kiến sẽ được quy định trong quá trình đặt hàng. Thời gian giao hàng sẽ dựa trên vị trí kho, địa chỉ nhận hàng và trọng lượng gói hàng.</p>
        </div>
        <div>
            <h2>3. Đặc điểm kỹ thuật giao hàng</h2>
            <p>Decathlon cam kết tất cả các đơn hàng được giao đều là hàng chưa qua sử dụng, chưa mở, có hướng dẫn sử dụng (nếu có), được đóng gói với logo / băng keo Decathlon.
                Trước khi chấp nhận và thanh toán đơn hàng, khách hàng của Decathlon có quyền yêu cầu mở thùng để kiểm tra hàng hóa bên trong có đúng với thông tin đặt hàng hay không, bao gồm: số lượng, chủng loại, màu sắc, hình thức, tính nguyên vẹn của hàng hóa.
                Khách hàng có quyền từ chối nhận hàng nếu phát hiện hàng đã qua sử dụng, thiếu nhãn mác.
                Các bước kiểm tra tiếp theo như sử dụng thử sản phẩm, vui lòng tiến hành sau khi nhận hàng và thanh toán đơn hàng.</p>
        </div>
        <div >
            <h2>4. Giao hàng không thành công</h2>
            <p>Theo quy định, người giao hàng sẽ liên hệ qua điện thoại với khách hàng trước khi giao hàng. Trong các trường hợp sau, đơn hàng sẽ được trả về Decathlon và giao dịch sẽ bị hủy trên hệ thống:
                - Sau ba ngày kể từ ngày giao hàng dự kiến, chúng tôi không thể liên hệ với bạn qua email hoặc điện thoại.
                - Sau 3 lần giao hàng không thành công
                - Bên vận chuyển đã giao hàng đúng hẹn nhưng quý khách để nhân viên bên vận chuyển đợi hơn 10 phút mới nhận hàng và mọi nỗ lực liên hệ với bên vận chuyển đều không thành công.
                - Các trường hợp bất khả kháng như thiên tai (động đất, gió lốc, tai nạn giao thông ...), gián đoạn mạng lưới giao thông trên phạm vi toàn quốc hoặc địa phương và các trường hợp khác. hỏng hóc cơ học xảy ra đối với xe cộ hoặc máy móc.</p>
        </div>
        <div >
            <h2>5. Phản hồi về dịch vụ giao hàng</h2>
            <p>Hiện tại, các đối tác chuyển phát của Decathlon là Tổng công ty Bưu điện Việt Nam và DHL.
            Nếu có vấn đề gì trong quá trình giao hàng làm quý khách chưa hài lòng, Decathlon chân thành cáo lỗi và mong quý khách liên hệ với Decathlon để báo trực tiếp để chúng tôi nâng cao chất lượng. Dịch vụ. </p>
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>