<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/delivery-method.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="delivery">
            <img src="/public/assets/img/deliver.png" alt="">
        </div>
        <div>
            <h2>1. Cost & Scope of Delivery</h2>
            <p>Because the purchase price at Decathlon is already the best price that our team always tries to bring to customers by optimizing costs and minimizing profits. Therefore, when buying goods at Decathlon, customers will pay the delivery costs according to the delivery costs that Decathlon must pay back to the shipping company.
                This cost does not depend on the value of the order but is calculated by the carrier by the weight and distance between the Decathlon warehouse and the delivery location.
                Our team always tries to work with the shipping company to get the best delivery price for our customers.
                Currently, Decathlon and its partners provide delivery services in all provinces of Vietnam.</p>
        </div>
        <div>
            <h2>2. Delivery time</h2>
            <p>Estimated delivery time will be specified during the ordering process. Delivery time will be based on warehouse location, delivery address and package weight.</p>
        </div>
        <div>
            <h2>3. Delivery specification</h2>
            <p>Decathlon commits that all delivered orders are unused, unopened, with instructions for use (if any), packaged with Decathlon logo / tape.
                Before accepting and paying for an order, Decathlon customers have the right to request to open the box to check whether the goods inside are correct with the order information, including: quantity, type, color, form, integrity of the goods.
                Customers have the right to refuse to receive the goods if they find that the goods are used or missing labels.
                Further testing steps such as trial use of the product, please proceed after receiving and paying for the order.</p>
        </div>
        <div >
            <h2>4. Delivery failed</h2>
            <p>As a rule, the delivery person will contact the customer by phone before delivery. In the following cases, the order will be returned to Decathlon and the transaction will be canceled on the system:
                - After three days from the expected delivery date, we cannot contact you via email or phone.
                - After 3 failed deliveries
                - The carrier delivered the goods on time, but you let the carrier's staff wait for more than 10 minutes to receive the goods and all efforts of the carrier to contact you were unsuccessful.
                - Cases of force majeure such as natural disasters (including earthquakes, whirlwinds, traffic accidents, etc.), or disruptions to the traffic network on a national or local scale and other circumstances. mechanical failure occurs to vehicles or machinery.</p>
        </div>
        <div >
            <h2>5. Delivery service feedback</h2>
            <p>Currently, Decathlon's delivery partners are Vietnam Post Corporation and DHL.
                If there are any problems in the delivery process that make you unsatisfied, Decathlon sincerely apologizes and hopes that you can contact Decathlon to report directly so that we can improve the quality. service.</p>
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>