<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div>
           <img style="width: 100%;" src="/public/assets/img/FAQ-banner.jpg" alt="">
        </div>
        <div>
            <h2>DECATHLON LÀ GÌ?</h2>
            <p>Được thành lập vào năm 1976 tại Pháp, với hơn 1.500 cửa hàng bán lẻ trên toàn thế giới, Decathlon là một trong những tập đoàn hàng đầu trong lĩnh vực trang phục thể thao. Tại Châu Âu, Decathlon được biết đến rộng rãi với 304 siêu thị ở Pháp, 148 siêu thị ở Tây Ban Nha, 109 siêu thị ở Ý và nhiều siêu thị ở các nước khác. Decathlon.vn là kênh phân phối bán lẻ duy nhất của tập đoàn Decathlon tại Việt Nam do Công ty TNHH Decathlon Việt Nam - thành viên của tập đoàn Decathlon toàn cầu quản lý, mua hàng tại Decathlon.vn bạn hoàn toàn có thể yên tâm. Vì những sản phẩm chúng tôi phân phối tại Việt Nam cũng là những sản phẩm được phân phối trên khắp thế giới.</p>
        </div>
        <div>
           <h2>QUECHUA, KALENJI, DOMYOS, ... LÀ GÌ?</h2>
           <p>Tất cả các sản phẩm Decathlon phân phối tại Việt Nam đều mang thương hiệu độc quyền của Decathlon Corporation. Các sản phẩm mang thương hiệu này được lên ý tưởng và thiết kế bởi đội ngũ nhân viên đam mê Thể thao của chúng tôi. và được thử nghiệm tại trung tâm thiết kế ở Châu Âu. Mỗi thương hiệu này chuyên về một môn thể thao nhắm đến người chơi từ trình độ sơ cấp đến chuyên nghiệp.</p>
        </div>
        <div >
            <h2>CHẤT LƯỢNG DECATHLON CÓ TIN CẬY KHÔNG?</h2>
            <p>Các sản phẩm mang thương hiệu độc quyền của Decathlon được thiết kế phù hợp với giá thành. Sản phẩm được đưa vào sản xuất tại các nhà cung cấp uy tín với số lượng lớn (sản xuất hàng loạt) nhằm tối ưu hóa chi phí nguyên vật liệu và nâng cao năng suất. Trước khi sản xuất, nguyên vật liệu được kiểm định chất lượng, độ bền, độ phai màu, độ độc hại .. theo tiêu chuẩn nghiêm ngặt của Châu Âu. Trong quá trình sản xuất, sản phẩm được giám sát chặt chẽ và kiểm tra chất lượng trực tiếp bởi đội ngũ kỹ thuật giàu kinh nghiệm của Decathlon. Vì vậy, chúng tôi có thể tự tin đưa ra mức giá tốt nhất và luôn tự hào. về chất lượng sản phẩm của mình. Tất cả các sản phẩm bán tại Decathlon.vn đều được bảo hành ít nhất 90 ngày. Ngoài ra, các sản phẩm như giày chạy bộ được bảo hành 2 năm, ba lô Quecua được bảo hành 10 năm, hay đặc biệt là xe đạp được bảo hành trọn đời.</p>
        </div>
        <div >
            <h2>DECATHLON CÓ KHUYẾN MÃI ĐẶC BIỆT NÀO KHÔNG?</h2>
            <p>Tại Decathlon.vn, chúng tôi cam kết luôn đưa ra mức giá tốt nhất có thể. Chúng tôi luôn coi việc phục vụ mọi khách hàng là người bạn tốt nhất của mình nên ngay khi giảm được chi phí, chúng tôi sẽ giảm trực tiếp, cố định vào giá bán của sản phẩm, không đưa ra các chương trình đặc biệt. Khuyến mãi ngắn hạn, tạm thời.

                Hiện tại, chúng tôi đang có chương trình khuyến mãi miễn phí vận chuyển cho đơn hàng đầu tiên, bằng cách sử dụng mã voucher DECATHLONVN khi đặt hàng tại website của chúng tôi.</p>
        </div>
        <div >
            <h2>TẠI SAO CẦN TẠO PHIẾU MUA HÀNG TRƯỚC KHI MUA HÀNG TẠI DECATHLON?</h2>
            <p>Việc tạo tài khoản sẽ giúp Khách hàng được hưởng các chính sách đổi trả, bảo hành chính hãng, cũng như nhận được đầy đủ hóa đơn tài chính, được pháp luật bảo vệ an toàn. Đồng thời giúp chúng tôi xuất hóa đơn thuế đầy đủ theo đúng nghĩa vụ của doanh nghiệp. Ngoài ra, thông tin tài khoản còn giúp chúng tôi phục vụ khách hàng tốt hơn và dễ dàng liên hệ với khách hàng trong trường hợp khẩn cấp, liên quan đến quyền lợi của khách hàng (ví dụ: khi khách hàng mua xe đạp và nghi ngờ sản phẩm có lỗi thiết kế, chúng tôi sẽ liên hệ ngay với khách hàng để đảm bảo không xảy ra rủi ro.) Chúng tôi cam kết bảo mật thông tin khách hàng theo đúng chính sách bảo hành. mà chúng tôi đã niêm yết rõ ràng trên website cũng như thông báo khi đăng ký với Bộ Công Thương.</p>
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>