<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div>
           <img src="/public/assets/img/FAQ-banner.jpg" alt="">
        </div>
        <div>
            <h2>WHAT IS DECATHLON?</h2>
            <p>Founded in 1976 in France, with more than 1,500 retail stores worldwide, Decathlon is one of the leading groups in the field of sportswear. In Europe, Decathlon is widely known with 304 supermarkets in France, 148 supermarkets in Spain, 109 supermarkets in Italy and many supermarkets in other countries. Decathlon.vn is the only retail distribution channel of Decathlon group in Vietnam managed by Decathlon Vietnam Co., Ltd - a member of the global Decathlon group, buying at Decathlon.vn you can rest assured. Because the products we distribute in Vietnam are also products distributed around the world.</p>
        </div>
        <div>
           <h2>WHAT IS QUECHUA, KALENJI, DOMYOS,...WHAT?</h2>
           <p>All Decathlon products distributed in Vietnam are branded exclusively by Decathlon Corporation. Products bearing these brands are conceptualized and designed by our passionate Sports staff. and tested at the design center in Europe. Each of these brands specializes in a sport aimed at players from beginner to professional level.</p>
        </div>
        <div >
            <h2>DECATHLON QUALITY RELIABLE?</h2>
            <p>Decathlon's exclusive branded products are designed for design-to-cost. Products are put into production at reputable suppliers in large quantities (mass production) to optimize raw material costs and improve productivity. Before production, raw materials are tested for quality, durability, color fading, toxicity .. according to strict European standards. During the production process, products are closely monitored and tested for quality directly by Decathlon's experienced technical team. Therefore, we can confidently offer the best price and always take pride. about the quality of its products. All products sold at Decathlon.vn are warranted for at least 90 days. In addition, products such as running shoes are warranted for 2 years, Quecua backpacks are guaranteed for 10 years, or especially bicycles are guaranteed for life.</p>
        </div>
        <div >
            <h2>DOES DECATHLON HAVE ANY SPECIAL PROMOTION?</h2>
            <p>At Decathlon.vn, we are committed to always offering the best possible price. We always consider serving all customers as our best friend, so as soon as we can reduce the cost, we will reduce directly, fixed on the selling price of the product, not offering special programs. Short-term, temporary promotions.

                Currently, we are having a promotion for free shipping for the first order, by using the voucher code DECATHLONVN when placing an order at our website.</p>
        </div>
        <div >
            <h2>WHY NEED TO CREATE A BEFORE PURCHASE AT DECATHLON?</h2>
            <p>Creating an account will help Customers enjoy genuine exchange and warranty policies, as well as receive full financial invoices, and be legally protected by law. At the same time, it helps us to issue a full tax invoice in accordance with the obligations of the business. In addition, account information also helps us to serve customers better and to contact customers easily in case of emergency, related to customers' interests (eg when customers buy bicycle and we suspect the product has a design defect, we will immediately contact the customer to make sure there is no risk.) We are committed to protecting customer information in accordance with the warranty policy. which we have clearly listed on the website as well as announced when registering with the Ministry of Industry and Trade.</p>
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>