<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/offers-for-businesses.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="offers">
            <img src="/public/assets/img/offers.png" alt="">
        </div>
        <div>
           <h2>1. MUA MỘT, TẶNG MỘT MIỄN PHÍ</h2>
           <p>Tất cả chúng ta đều sử dụng các ưu đãi này, chủ yếu được sử dụng cho các sản phẩm giá rẻ hơn là các dịch vụ thường do các công ty lớn như ASDA và Morrison’s bán số lượng lớn với chi phí thấp. Nó đã được chứng minh rằng ưu đãi ‘BOGOF’ hoạt động tốt hơn nhiều so với ‘giảm giá 50%’.</p>
        </div>
        <div>
            <h2>2. CẠNH TRANH</h2>
            <p>Thành công cao khi quảng bá các sản phẩm và dịch vụ có giá cao vì mức độ khuyến khích càng cao thì càng có nhiều người tham gia vào cuộc cạnh tranh. Ví dụ, nhiều công ty du lịch cung cấp cho người chiến thắng một kỳ nghỉ miễn phí hoặc các công ty như B&Q hoặc DFS cung cấp cho người chiến thắng một nhà bếp được trang bị miễn phí hoặc một bộ ghế sofa đắt tiền.</p>
        </div>
        <div>
            <h2>3. GIAO HÀNG MIỄN PHÍ</h2>
            <p>Được sử dụng bởi các công ty cung cấp dịch vụ giao hàng. Đặc biệt hữu ích cho các doanh nghiệp kinh doanh thức ăn nhanh hoặc thậm chí các doanh nghiệp lớn như Tesco. Điều thú vị là ưu đãi này ngày càng trở nên phổ biến trên các trang web thương mại điện tử như EBay và Amazon, trong đó khách hàng mua sắm trực tuyến và được giao hàng tận nơi.</p>
        </div>
        <div>
            <h2>4. QUÀ TẶNG VOUCHERS</h2>
            <p>Phiếu quà tặng có thể được sử dụng để giảm giá cho người nhận đối với một sản phẩm hoặc dịch vụ hoặc được sử dụng để yêu cầu một món quà miễn phí.</p>
        </div>
        <div >
            <h2>5. GIẢM GIÁ 10%</h2>
            <p>Ưu đãi này đặc biệt tốt khi bán một sản phẩm đã cũ hoặc thị trường cho sản phẩm đó đang suy giảm hoặc đã phẳng. Cũng tốt nếu cung cấp điều này tùy thuộc vào nhân khẩu học, chẳng hạn như các công ty giảm giá cho sinh viên vì họ có xu hướng có thu nhập khả dụng ít hơn hoặc các cửa hàng quần áo giảm giá vì họ đang nhắm mục tiêu đến những người mua trẻ tuổi.</p>
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>