<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/offers-for-businesses.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="offers">
            <img src="/public/assets/img/offers.png" alt="">
        </div>
        <div>
           <h2>1. BUY ONE, GET ONE FREE</h2>
           <p>We all use these offers, mostly used for low cost products rather than services often by large companies such as ASDA and Morrison’s which sell high volume at low cost. It has been shown that the ‘BOGOF’ offer works far better than ‘50% off’.</p>
        </div>
        <div>
            <h2>2. COMPETITIONS</h2>
            <p>Highly successful when promoting high priced products and services as the higher the incentive the more people will enter the competition. For example a lot of travel companies offer the winner a free holiday or companies such as B&Q or DFS give the winner a free fitted kitchen or an expensive sofa set.</p>
        </div>
        <div>
            <h2>3. FREE DELIVERY</h2>
            <p>Used by companies which provide a delivery service. Particularly useful for fast food businesses or even large businesses like Tesco. Interestingly, this offer is becoming more and more popular on E-commerce websites such as EBay and Amazon in which customers shop online and have the products delivered straight to their door.</p>
        </div>
        <div>
            <h2>4. GIFT VOUCHERS</h2>
            <p>Vouchers can be used to give the recipient a money-off discount on a product or a service, or be used to claim a free gift.</p>
        </div>
        <div >
            <h2>5. 10% OFF DISCOUNT</h2>
            <p>This offer is particularly good when selling a product which has gone stale or the market for that product is in decline or has flat lined. It’s also good to offer this depending on the demographic, for example companies which offer student discounts because they tend to have less disposable income, or clothing stores offering discounts because they are targeting younger buyers.</p>
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>