<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/payment-methods.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="payment">
           <h2>1. Phương thức thanh toán</h2>
           <div class="a1">
               <img src="/public/assets/img/pictos 1 (cash).png" alt="">
               <div>
                   <h3>THANH TOÁN KHI GIAO HÀNG (COD / TIỀN MẶT KHI GIAO HÀNG)</h3>
                   <p>COD - Thu tiền khi Giao hàng, có nghĩa là Thanh toán khi Nhận hàng. Khi chọn hình thức thanh toán này, khách hàng sẽ thanh toán tiền mặt cho nhân viên giao hàng ngay khi nhận được đơn hàng của mình. Decathlon chấp nhận thanh toán khi nhận hàng (COD) cho tất cả các đơn hàng trên toàn quốc.
                    Trong trường hợp có yêu cầu hoàn tiền, khách hàng sẽ được Decathlon hoàn tiền qua tài khoản ngân hàng do khách hàng cung cấp.</p>
               </div>
            </div>
            <div class="a1">
                <img src="/public/assets/img/pictos 2 (credit).png" alt="">
                <div>
                    <h3>THANH TOÁN TRỰC TUYẾN</h3>
                    <p>Hiện tại, Decathlon hỗ trợ thanh toán bằng thẻ ATM nội địa của 23 ngân hàng. Để lựa chọn phương thức này, vui lòng chọn cổng thanh toán ZaloPay trong phần Phương thức thanh toán
                        Điều kiện để lựa chọn hình thức thanh toán qua ATM là thẻ của bạn đã được đăng ký sử dụng ngân hàng trực tuyến. Ngay sau khi nhận được đơn hàng, Decathlon sẽ kiểm tra giao dịch thanh toán. Nếu giao dịch thành công, Decathlon sẽ xác thực thông tin và thực hiện đơn hàng.
                        Việc thanh toán được thực hiện trên cổng thanh toán của ZalaPay, Decathlon không lưu giữ bất kỳ thông tin thanh toán nào của bạn.</p>
                </div>
           </div>
        </div>
        <div>
            <h2>2. Phí dịch vụ, hóa đơn</h2>
            <p class="bill">
                Hiện tại, các giao dịch thanh toán tại Decathlon được hỗ trợ đầy đủ Giao dịch Miễn phí.
                 Tuy nhiên, trong trường hợp sử dụng thẻ không được phát hành tại Việt Nam, bạn có thể phải trả thêm phí chuyển đổi ngoại tệ cho tổ chức phát hành thẻ.
                 Đối với các giao dịch có giá trị lớn hơn 200.000 VNĐ, quý khách muốn xuất hóa đơn VAT, vui lòng điền thông tin bên dưới vào phần "LƯU Ý" khi thanh toán.
                 - Tên công ty:
                 - Địa chỉ công ty:
                 - Mã số thuế:
                 Hóa đơn GTGT sẽ được gửi dưới dạng hóa đơn điện tử sau 3-5 ngày làm việc (không tính thứ 7 & chủ nhật) kể từ ngày nhận hàng. </p>
        </div>
 
    
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>