<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/privacy-policy.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="pri">
            <img src="/public/assets/img/privacy.jpg" alt="">
        </div>
        <div>
           <h2>THÔNG TIN HỢP PHÁP</h2>
           <p>
            Trang web này (“Trang web”), và tất cả thông tin cá nhân thu thập từ người dùng Trang web, thuộc sở hữu độc quyền của Công ty TNHH Decathlon Việt Nam (Số đăng ký kinh doanh: 0305728805), một công ty được cấp phép thành lập tại Việt Nam và có trụ sở đăng ký tại Tầng 5, 26 Ung Văn Khiêm, Phường 25, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam (“Decathlon” hoặc “DVN”), email cskh @ decathlon.com, liên hệ 09.38.38.1668 và / hoặc chi nhánh của Decathlon Vietnam Co., Ltd (gọi chung là “Mạng Decathlon”). Bằng cách truy cập hoặc sử dụng bất kỳ trang nào trên Trang web nơi Chính sách Bảo mật này xuất hiện hoặc liên kết đến Chính sách Bảo mật này, bạn được coi là đã đồng ý với các điều khoản của Chính sách Bảo mật này. Ngoài ra, bạn cũng đồng ý và chấp thuận, trong phạm vi tối đa được Pháp luật Việt Nam cho phép, từ bỏ quyền bảo vệ thông tin cá nhân của bạn theo Bộ luật Dân sự Việt Nam và / hoặc bất kỳ quy định nào của pháp luật hiện hành về bảo vệ dữ liệu. Vui lòng xem kỹ Chính sách Bảo mật này trước khi truy cập hoặc sử dụng bất kỳ trang web nào hoặc cung cấp bất kỳ dữ liệu cá nhân nào của bạn. Nếu bạn không đồng ý với Chính sách bảo mật này, sửa hoặc xóa bất kỳ thông tin cá nhân nào của bạn trong dữ liệu của chúng tôi, vui lòng tham khảo Điều IV để biết quy trình.
           </p>
        </div>
        <div>
            <h2>THU THẬP DỮ LIỆU CÁ NHÂN</h2>
            <p>
                Dữ liệu cá nhân, theo định nghĩa của luật hiện hành, được hiểu là dữ liệu về một cá nhân được xác định từ một dữ liệu cụ thể, hoặc từ chính dữ liệu và thông tin khác mà Decathlon có hoặc hiểu là có sẵn. khả năng tiếp cận. Thông thường dữ liệu cá nhân được thu thập từ khách hàng của chúng tôi bao gồm nhưng không giới hạn tên, địa chỉ, số điện thoại (điện thoại cố định hoặc di động, địa chỉ email, số nhận dạng, quốc tịch, ngày sinh và thông tin thẻ tín dụng. Thu thập dữ liệu cá nhân Bất cứ khi nào có thể, chúng tôi chỉ thu thập dữ liệu cá nhân trực tiếp từ bạn Bao gồm nhưng không giới hạn, điều này có thể xảy ra trong hoặc trước khi bạn: (1) đăng nhập để nhận thông tin; (2) mở tài khoản trên Trang web; (3) đặt mua Sản phẩm qua Trang web; (4) cung cấp bất kỳ phản hồi hoặc khiếu nại liên quan đến Sản phẩm hoặc dịch vụ của chúng tôi qua Trang web; (5) tham gia vào bất kỳ ưu đãi nào trên mạng xã hội (chẳng hạn như đăng nhập thông qua trang Facebook của chúng tôi); và / hoặc (6) tham gia vào bất kỳ Ngoài dữ liệu cá nhân được cung cấp đối với chúng tôi, một số thông tin liên quan đến bạn không được coi là dữ liệu cá nhân cũng có thể được thu thập.
            </p>
        </div>
        <div>
            <h2>SỬ DỤNG DỮ LIỆU CÁ NHÂN</h2>
            <p>Sử dụng dữ liệu cá nhân của bạn Chúng tôi thu thập dữ liệu cá nhân từ các khách hàng và nhân viên hiện tại và tương lai của chúng tôi vì nhiều lý do khác nhau. Những mục đích đó bao gồm nhưng không giới hạn ở: (1) cải thiện sản phẩm của chúng tôi và trải nghiệm của bạn trên Trang web của chúng tôi; (2) phân tích hiệu quả của quảng cáo, sự kiện và chương trình khuyến mãi của chúng tôi; (3) điều chỉnh theo thói quen sử dụng Trang web của bạn, cũng như phân tích dữ liệu dựa trên hoạt động của Trang web, chẳng hạn như thời điểm bạn truy cập, bạn đã truy cập Trang web trước đây chưa và trang web nào dẫn bạn đến Trang web; (4) làm cho Trang web dễ sử dụng hơn và thiết kế Trang web và các sản phẩm theo sở thích và nhu cầu của bạn; (5) tiếp thị và giao tiếp với bạn liên quan đến các sản phẩm và dịch vụ do chúng tôi cung cấp; (6) các quy trình quản lý đơn hàng và tài khoản liên quan đến việc sử dụng các sản phẩm và dịch vụ của chúng tôi; (7) gửi cho bạn thông tin, sản phẩm hoặc mẫu mà bạn đã yêu cầu; (8) phản hồi về sản phẩm hoặc câu hỏi của bạn; (9) nâng cao chất lượng dịch vụ của chúng tôi về điều tra và nghiên cứu thị trường; (10) cung cấp cho bạn thông tin liên quan đến giao dịch hiện tại giữa bạn và chúng tôi; (11) giới thiệu các sản phẩm hoặc dịch vụ mà chúng tôi nghĩ rằng bạn có thể quan tâm; hoặc (12) cung cấp cho bạn cơ hội tham gia các sự kiện hoặc chương trình khuyến mãi.</p>
        </div>
        <div >
            
        </div>
        <div >
            
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>