<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/privacy-policy.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="pri">
            <img src="/public/assets/img/privacy.jpg" alt="">
        </div>
        <div>
           <h2>LEGAL INFORMATION</h2>
           <p>
            This website (“Website”), and all personal information collected from users of the Website, are owned exclusively by Decathlon Vietnam Co., Ltd (Business registration number: 0305728805), a company licensed incorporated in Vietnam and registered office at 5th Floor, 26 Ung Van Khiem, Ward 25, Binh Thanh District, Ho Chi Minh City, Vietnam (“Decathlon” or “DVN”), email cskh@ decathlon.com, contact 09.38.38.1668 and/or an affiliate of Decathlon Vietnam Co., Ltd (collectively, the “Decathlon Network”). By accessing or using any page on the Website where this Privacy Policy or a link to this Privacy Policy appears, you are deemed to have agreed to the terms of this Privacy Policy. In addition, you also agree and consent, to the fullest extent permitted by the Laws of Vietnam, waive your right to protect your personal information under the Vietnam Civil Code and/or any regulations any applicable laws on data protection. Please review this Privacy Policy carefully before accessing or using any of the sites or providing any of your personal data. If you do not agree to this Privacy Policy, correct or delete any of your personal information in our data, please refer to Article IV for the procedure.
           </p>
        </div>
        <div>
            <h2>PERSONAL DATA COLLECTION</h2>
            <p>
                Personal data, as defined by applicable laws, is understood as data about an individual identified from a particular data, or from the data itself and other information that Decathlon has or understands to be available. accessibility. Normally personal data collected from our customers includes but is not limited to name, address, phone number (landline or mobile, email address, identification number, nationality, date of birth and credit card information Collection of personal data Whenever possible we only collect personal data directly from you Including but not limited to, this may happen during or before you: (1) log in to receive information; (2) open an account on the Website; (3) order Products through the Website; (4) provide any feedback or complaints in connection with our Products or services via the Website; (5) participating in any social networking offers (such as logging in through our Facebook page); and/or (6) participating in any In addition to the personal data provided to us, certain information relating to you that is not considered personal data may also be collected.
            </p>
        </div>
        <div>
            <h2>USE OF PERSONAL DATA</h2>
            <p>Use of your personal data We collect personal data from our current and future customers and employees for various reasons. Such purposes include but are not limited to: (1) improving our products and your experience on our Website; (2) analyze the effectiveness of our advertising, events and promotions; (3) adjust according to your Website usage habits, as well as analyze data based on Website activity, such as when you visit, whether you have visited the Website before and which website leads you to Website; (4) make the Website easier to use and design the Website and products to your interests and needs; (5) marketing and communicating to you in connection with the products and services offered by us; (6) order and account management processes in connection with the use of our products and services; (7) send you information, products or samples that you have requested; (8) feedback about your product or question; (9) improve the quality of our services in terms of market survey and research; (10) provide you with information relevant to the current transaction between you and us; (11) recommend products or services that we think may be of interest to you; or (12) offer you an opportunity to participate in events or promotions.</p>
        </div>
        <div >
            
        </div>
        <div >
            
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>