<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/return-process.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="returnpro">
            <img style="width: 100%;" src="/public/assets/img/Payment-Processing-1-740x362.jpg" alt="">
        </div>
        <div>
           <h2>QUÁ TRÌNH THANH TOÁN</h2>
           <p>
               <p><span>BƯỚC 1. </span>ĐĂNG NHẬP vào tài khoản để đặt hàng tại website: Decathlon.vn.</p>
               <p><span>BƯỚC 2. </span>Chọn "Tài khoản" -> nhấp vào "Đặt hàng & Trả hàng".</p>
               <p><span>BƯỚC 3. </span>Tại khung thông tin của sản phẩm muốn đổi trả, bạn bấm “Trả hàng” -> Chọn số lượng sản phẩm muốn đổi trả và chọn lý do đổi trả (và mô tả chi tiết).</p>
               <p><span>BƯỚC 4. </span>Nhấp vào "Tiếp theo" -> Chọn dịch vụ vận chuyển cho đơn hàng trả lại của bạn
                + Tại cửa hàng: Bạn mang đến cửa hàng Decathlon gần nhất để được hỗ trợ.
                + Gửi hàng tại Bưu điện Việt Nam: Quý khách mang gói hàng đến Bưu cục gần nhất (không tính phí vận chuyển)
                + Thu tiền tận nhà: Chỉ áp dụng cho khu vực HCM và HN, địa chỉ thu tiền mặc định là địa chỉ nhận hàng (không tính phí vận chuyển)
                Nhấp vào "GỬI YÊU CẦU".</p>
               <p><span>BƯỚC 5. </span>Kiểm tra email: Bạn sẽ nhận được một email xác nhận yêu cầu trả lại của bạn đã được nhận và để được hướng dẫn thêm.
                * Lưu ý: Đối với các đơn hàng thanh toán khi nhận hàng, vui lòng điền thông tin chi tiết ngân hàng của bạn vào biểu mẫu đính kèm trong email.
                Các đơn hàng đã thanh toán trực tuyến, tiền hoàn lại sẽ được hoàn trả trực tiếp vào tài khoản bạn đã dùng để thanh toán.</p>
               <p><span>BƯỚC 6. </span>Điền thông tin vào PHÚT HỦY HÓA ĐƠN và nhập mã TRẢ LẠI vào phiếu yêu cầu hoàn trả.
                * Lưu ý: BIÊN BẢN HỦY HÓA ĐƠN là mẫu thông tin bắt buộc để hợp thức hóa quy trình hoàn tiền. Hãy đặt nó trong gói.</p>
               <p><span>BƯỚC 7. </span>Dán vé khứ hồi vào bên ngoài gói hàng và gửi gói hàng đi.</p>
           </p>
        </div>
        <div>
            <h2>LƯU Ý TRƯỚC KHI VẬN CHUYỂN ĐẾN DECATHLON</h2>
            <p>Mỗi yêu cầu đổi trả chỉ tương ứng với 1 loại sản phẩm. Nếu bạn muốn trả lại từ 2 loại sản phẩm khác nhau trong cùng một đơn hàng, vui lòng tạo 2 yêu cầu trả hàng riêng biệt.
                Các sản phẩm (gồm 2 mã đổi trả khác nhau) trong cùng một đơn hàng có thể được đóng gói trong 1 hộp và sử dụng cùng một MẪU YÊU CẦU, và 1 BIÊN BẢN HỦY HÓA ĐƠN. Quý khách điền MÃ ĐƠN HÀNG + tất cả MÃ ĐỔI TRẢ (bên dưới mã số đơn hàng) vào PHIẾU YÊU CẦU và BIÊN BẢN HỦY HÓA ĐƠN trước khi gửi hàng đi.</p>
        </div>
  
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>