<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/return-process.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="returnpro">
            <img src="/public/assets/img/Payment-Processing-1-740x362.jpg" alt="">
        </div>
        <div>
           <h2>PAYMENT PROCESS</h2>
           <p>
               <p><span>STEP 1. </span>LOGIN to your account to order at website: Decathlon.vn.</p>
               <p><span>STEP 2. </span>Select "Account" -> click "Orders & Returns".</p>
               <p><span>STEP 3. </span>In the information frame of the product you want to return, click "Return" -> Select the number of products you want to return and select the reason for return (and detailed description).</p>
               <p><span>STEP 4. </span>Click "Next" -> Choose a shipping service for your return order
                + At the store: You bring to the nearest Decathlon store for support.
                + Ship at Vietnam Post: You will bring the package to the nearest Post Office (no shipping fee)
                + Home collection: Only applicable to HCM and HN areas, the default collection address is the delivery address (no shipping fee)
                Click "SEND REQUEST".</p>
               <p><span>STEP 5. </span>Check email: You will receive an email confirming your return request has been received and for further instructions.
                *Note: For payment orders upon receipt, please fill in your bank details in the form attached to the email.
                Orders paid online, the refund will be refunded directly to the account you used to pay.</p>
               <p><span>STEP 6. </span>Fill in the information in the INVOICE CANCELLATION MINUTE and enter the RETURN code on the return request form.
                *Note: INVOICE CANCELLATION MINUTES is a required form of information to legitimize the refund process. Please put it in the package.</p>
               <p><span>STEP 7. </span>Stick the return ticket on the outside of the package and send the package away.</p>
           </p>
        </div>
        <div>
            <h2>NOTE BEFORE SHIPPING TO DECATHLON</h2>
            <p>Each return request only corresponds to 1 product type. If you want to return from 2 different types of products in the same order, please create 2 separate return requests.
                Products (of 2 different return codes) in the same order can be packed in 1 box, and use the same REQUEST FORM, and 1 INVOICE CANCELLATION MINUTES. You fill in the ORDER CODE + all RETURN CODE (below the order number) on the REQUEST FORM and INVOICE CANCELLATION MINUTES before sending out the goods.</p>
        </div>
  
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>