<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/store-address.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="storeadd">
           <img src="/public/assets/img/address.jpg" alt="">
        </div>
        <div>
            <h2>TP HÀ NỘI</h2>
            <p><span>Chi nhánh 1:</span> Tầng 2, Tòa nhà Times Tower, 35 Lê Văn Lương, Quận Thanh Xuân, Hà Nội.<br>
                <span>Liên hệ:</span> +84 24 6253 8010</p>
            <p><span>Chi nhánh 2:</span> 46A Sơn Tây, Q. Ba Đình, Hà Nội.<br>
                <span>Liên hệ:</span> +84 24 6296 9212</p>
        </div>
        <div>
            <h2>TP HỒ CHÍ MINH</h2>
            <p><span>Chi nhánh 1:</span> 145 Nguyễn Thị Minh Khai, Phạm Ngũ Lão, Quận 1, Hồ Chí Minh.<br>
                <span>Liên hệ:</span> +84 28 6253 8022</p>
            <p><span>Chi nhánh 2:</span> 542 Cách Mạng Tháng 8, Phường 11, Quận 03, Tp.HCM.<br>
                <span>Liên hệ:</span> +84 28 6296 8988</p>
        </div>
        <div >
            
        </div>
        <div >
            
        </div>
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>