<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/terms-of-purchase.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="terms">
           <h2>1. INTRODUCTION</h2>
           <p>
            <span>1.1.</span> These General Terms and Conditions of Sale (hereinafter referred to as “General Conditions”) are only applicable between DECATHLON VIETNAM CO., LTD (Business Registration No.: 0305728805), which is a incorporated company. incorporated in Vietnam and has its registered office at 5th Floor, 26 Ung Van Khiem, Ward 25, Binh Thanh District, Ho Chi Minh City, Vietnam (hereinafter referred to as “Decathlon”) with any person customers on the decathlon website www.decathlon.vn (“Website”), (hereinafter referred to as the “Customer” or “you” and together with Decathlon, collectively, the “Parties”).
           </p>
           <p>
            <span>1.2.</span> These General Conditions govern and apply to anyone accessing or using the Website, the relationship between the Parties and to the provision of any products on the Website (“Product”) to Customer.
           </p>
           <p>
            <span>1.3.</span> Without prejudice to the other provisions of these General Conditions, by using the Website or purchasing any Products, you represent, warrant and undertake that: (i) you agree, abide by and be subject to bound by these General Conditions; (ii) you are over 18 years of age or you access under the supervision of your parents or your legal guardian and have the legal capacity to comply with the General Conditions; and (iii) you comply with all applicable laws, regulations, and rules relating to your access to and use of the Website. 
           </p>
      
        </div>
        <div class="terms">
            <h2>2. DELIVERY</h2>
            <p>
                <span>2.1.</span> The Website is intended for Customers residing in the country serviced by this Website and may therefore have restrictions on where Decathlon may deliver Products.
            </p>
            <p>
                <span>2.2.</span> The expected delivery date of the Product will be specified in the Shipping Confirmation, but the estimated delivery date is intended as an indication only and shall not be binding on Decathlon.
            </p>
            <p>
                <span>2.3.</span> Decathlon will contact you if the expected delivery date cannot be made and in that case, Decathlon will give you the choice to continue purchasing the Product or cancel your Order. If the Order is cancelled, Decathlon will refund you to the original method of payment for the Order for the Product including the delivery fee (if any).
            </p>
            
        </div>
        <div class="terms">
            <h2>3. WARRANTY POLICY</h2>
            <p>
                <span>3.1.</span> In the event that you wish to repair or return a defective Product within the warranty period, please refer to 'Contact Us'. 
            </p>
            <p>
                <span>3.2.</span> Depending on the nature of the defect, Decathlon will, at its option, repair or replace the defective Product. In the event that in spite of Decathlon's best efforts it is still not possible to repair or replace the defective Product, Decathlon will refund the Customer an amount equal to the original price paid by the Customer for the defective Product and herein shall be the sole remedy the Customer is entitled to.
            </p>
            <p>
                <span>3.3.</span> If a Product is returned to Decathlon without good cause or for a defect arising from any one of the circumstances set out in section 6.2 above, Decathlon reserves the right to refuse Customer's request and return Return the Product to the Customer at the Customer's expense.
            </p>
        </div>
   
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>