<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List product</title>
        <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
        <link rel="stylesheet" href="/public/assets/css/terms-of-purchase.css">
    </head>
<body>
<div class="footersubAll">
    <div class="deliAll">
        <div class="terms">
           <h2>1. GIỚI THIỆU</h2>
           <p>
            <span>1.1.</span> Các Điều khoản và Điều kiện Bán hàng Chung này (sau đây gọi là “Điều kiện Chung”) chỉ áp dụng giữa CÔNG TY TNHH DECATHLON VIỆT NAM (Số ĐKKD: 0305728805), là một công ty được thành lập. được thành lập tại Việt Nam và có văn phòng đăng ký tại Lầu 5, 26 Ung Văn Khiêm, Phường 25, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam (sau đây gọi là “Decathlon”) với bất kỳ khách hàng nào trên trang web decathlon www.decathlon .vn (“Trang web”), (sau đây được gọi là “Khách hàng” hoặc “bạn” và cùng với Decathlon, gọi chung là “Các Bên”).
           </p>
           <p>
            <span>1.2.</span> Các Điều kiện Chung này chi phối và áp dụng cho bất kỳ ai truy cập hoặc sử dụng Trang web, mối quan hệ giữa các Bên và việc cung cấp bất kỳ sản phẩm nào trên Trang web (“Sản phẩm”) cho Khách hàng.
           </p>
           <p>
            <span>1.3.</span> Không ảnh hưởng đến các quy định khác của các Điều kiện chung này, bằng cách sử dụng Trang web hoặc mua bất kỳ Sản phẩm nào, bạn tuyên bố, đảm bảo và cam kết rằng: (i) bạn đồng ý, tuân thủ và chịu sự ràng buộc của các Điều kiện chung này; (ii) bạn trên 18 tuổi hoặc bạn truy cập dưới sự giám sát của cha mẹ hoặc người giám hộ hợp pháp của bạn và có đủ năng lực pháp lý để tuân thủ các Điều kiện Chung; và (iii) bạn tuân thủ tất cả các luật, quy định và quy tắc hiện hành liên quan đến việc bạn truy cập và sử dụng Trang web. 
           </p>
      
        </div>
        <div class="terms">
            <h2>2. GIAO HÀNG</h2>
            <p>
                <span>2.1.</span> Trang web dành cho Khách hàng cư trú tại quốc gia được Trang web này phục vụ và do đó có thể có các hạn chế về nơi Decathlon có thể phân phối Sản phẩm.
            </p>
            <p>
                <span>2.2.</span> Ngày giao hàng dự kiến của Sản phẩm sẽ được ghi rõ trong Xác nhận vận chuyển, nhưng ngày giao hàng dự kiến chỉ nhằm mục đích chỉ dẫn và sẽ không ràng buộc đối với Decathlon.
            </p>
            <p>
                <span>2.3.</span> Decathlon sẽ liên hệ với bạn nếu ngày giao hàng dự kiến không thể thực hiện được và trong trường hợp đó, Decathlon sẽ cho bạn lựa chọn tiếp tục mua Sản phẩm hoặc hủy Đơn hàng của bạn. Nếu Đơn hàng bị hủy, Decathlon sẽ hoàn lại cho bạn phương thức thanh toán ban đầu cho Đơn hàng đối với Sản phẩm bao gồm cả phí giao hàng (nếu có).
            </p>
            
        </div>
        <div class="terms">
            <h2>3. CHÍNH SÁCH BẢO HÀNH</h2>
            <p>
                <span>3.1.</span> Trong trường hợp bạn muốn sửa chữa hoặc trả lại Sản phẩm bị lỗi trong thời gian bảo hành, vui lòng tham khảo 'Liên hệ với chúng tôi'. 
            </p>
            <p>
                <span>3.2.</span> Tùy thuộc vào bản chất của lỗi, Decathlon, tùy theo lựa chọn của mình, sẽ sửa chữa hoặc thay thế Sản phẩm bị lỗi. Trong trường hợp mặc dù đã cố gắng hết sức mà Decathlon vẫn không thể sửa chữa hoặc thay thế Sản phẩm bị lỗi, Decathlon sẽ hoàn lại cho Khách hàng một khoản tiền bằng với giá gốc mà Khách hàng đã thanh toán cho Sản phẩm bị lỗi và đây sẽ là biện pháp khắc phục duy nhất Khách hàng có quyền.
            </p>
            <p>
                <span>3.3.</span> Nếu Sản phẩm được trả lại cho Decathlon mà không có lý do chính đáng hoặc do lỗi phát sinh từ bất kỳ trường hợp nào nêu trong mục 6.2 ở trên, Decathlon có quyền từ chối yêu cầu của Khách hàng và trả lại Sản phẩm cho Khách hàng với chi phí của Khách hàng.
            </p>
        </div>
   
    </div>
    
</div>
</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
</html>