<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List product</title>
    <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
            <link rel="stylesheet" href="/public/assets/css/who-is-deca.css">
</head>

<body>
    <div class="footersubAll">
        <div class="deliAll">
            <div class="video">
                <iframe width="850" height="605" src="https://www.youtube.com/embed/v43pfSxxdlM?start=4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="aboutUs">
                <h1>ABOUT US</h1>
                <p>
                    Decathlon is a network of innovative retail chains and brands since 1976 from Lille, France.
                    Together, we live every-day with a common purpose.
                </p>
                <p class="sus">
                    "TO SUSTAINABLY MAKE THE PLEASURE AND BENEFITS OF SPORT ACCESSIBLE TO THE MANY"
                </p>
                <p>
                    We place customer's desire in our heart from research to retail, including conception, design,
                    production and logistics.
                </p>
            </div>
            <div class="cultures">
                <div>
                    <h1>OUR CULTURES</h1>
                    <p>
                        In Decathlon, we believe in human is our strength above all else and we invest in teammates for
                        long term.
                    </p>
                </div>
                <div class="cul1">
                    <div>
                        <img src="/public/assets/img/heart.png" alt="">
                        <div class="cul2">
                            <h2>We do believe in sport to allow us do what we love.</h2>
                            <p>Sport is our DNA. We are passionate about sports, and we can live with it everyday here.
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="/public/assets/img/clock.png" alt="">
                        <div class="cul2">
                            <h2>We do believe in giving the freedom to courage the autonomy</h2>
                            <p>Flexible working hours, role implementation are the parts of Decathlon Vietnam to promote
                                the entrepreneurship within company. And, it starts from day.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/public/assets/img/cycle.png" alt="">
                        <div class="cul2">
                            <h2>We do believe in continuously self-development to accelerate us.</h2>
                            <p>Each teammate having one day per month dedicated entirely to them and their development.
                                Internal opportunities are available for whom are dare to take.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/public/assets/img/award.png" alt="">
                        <div class="cul2">
                            <h2>We do believe in the added values need to be appreciated & recognized.</h2>
                            <p>We appreciate and recognize the added values of our teammates by fair remuneration and
                                with different approaches.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</body>
<footer>
    <%- include('../partials/footer'); %>
        <%- include('../partials/user-script.ejs'); -%>
</footer>

</html>