<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List product</title>
    <%- include('../partials/head-user'); -%>
        <%- include('../partials/user-navbar'); -%>
            <link rel="stylesheet" href="/public/assets/css/who-is-deca.css">
</head>

<body>
    <div class="footersubAll">
        <div class="deliAll">
            <div class="video">
                <iframe width="850" height="605" src="https://www.youtube.com/embed/v43pfSxxdlM?start=4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="aboutUs">
                <h1>VỀ CHÚNG TÔI</h1>
                <p>
                    Decathlon là một mạng lưới các chuỗi bán lẻ và thương hiệu sáng tạo từ năm 1976 đến từ Lille, Pháp.
                     Cùng nhau, chúng ta sống mỗi ngày với một mục đích chung.
                </p>
                <p class="sus">
                    "ĐỂ BỀN VỮNG TẠO NIỀM VUI VÀ LỢI ÍCH CỦA VIỆC TIẾP CẬN THỂ THAO CHO NHIỀU NGƯỜI"
                </p>
                <p>
                    Chúng tôi đặt mong muốn của khách hàng vào trái tim của chúng tôi từ nghiên cứu đến bán lẻ, bao gồm cả ý tưởng, thiết kế,
                    sản xuất và hậu cần.
                </p>
            </div>
            <div class="cultures">
                <div>
                    <h1>VĂN HÓA CỦA CHÚNG TÔI</h1>
                    <p>
                        Trong Decathlon, chúng tôi tin rằng con người là sức mạnh của chúng tôi trên hết và chúng tôi đầu tư vào đồng đội để
                        dài hạn.
                    </p>
                </div>
                <div class="cul1">
                    <div>
                        <img src="/public/assets/img/heart.png" alt="">
                        <div class="cul2">
                            <h2>Chúng tôi tin rằng thể thao cho phép chúng tôi làm những gì chúng tôi yêu thích.</h2>
                            <p>Thể thao là DNA của chúng ta. Chúng tôi đam mê thể thao và chúng tôi có thể sống với nó hàng ngày ở đây.
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="/public/assets/img/clock.png" alt="">
                        <div class="cul2">
                            <h2>Chúng tôi tin tưởng vào việc trao quyền tự do để can đảm cho quyền tự chủ</h2>
                            <p>Giờ làm việc linh hoạt, thực hiện vai trò là những nội dung Decathlon Việt Nam cần thúc đẩy
                                tinh thần kinh doanh trong công ty. Và, nó bắt đầu từ ngày.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/public/assets/img/cycle.png" alt="">
                        <div class="cul2">
                            <h2>Chúng tôi tin tưởng vào việc liên tục phát triển bản thân để thúc đẩy chúng tôi.</h2>
                            <p>Mỗi đồng đội có một ngày mỗi tháng dành hoàn toàn cho họ và sự phát triển của họ.
                                Những cơ hội nội bộ luôn sẵn sàng cho những ai dám nắm lấy.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/public/assets/img/award.png" alt="">
                        <div class="cul2">
                            <h2>Chúng tôi tin tưởng vào những giá trị gia tăng cần được trân trọng và ghi nhận.</h2>
                            <p>Chúng tôi đánh giá cao và ghi nhận những giá trị gia tăng của đồng đội bằng chế độ đãi ngộ công bằng và
                                với các cách tiếp cận khác nhau.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</body>
<footer>
    <%- include('../partials/footer'); %>
        <%- include('../partials/user-script.ejs'); -%>
</footer>

</html>