<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/admin-head.ejs'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/body-admin-left.ejs'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<footer>
  <%- include('../partials/admin-navbar.ejs'); %>
</footer>
</body>
</html>