<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Infomation</title>
    <link rel="stylesheet" href="/public/assets/css/customer-page.css">
    <%- include('../partials/head-user'); -%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
</head>
<%- include('../partials/user-navbar'); -%>
<body onresize="resize()" onload="resize()">
    <div class="toTalUser">
    <div class="tabL">
        <ul>
            <li class="lim">
                <img class="avacus" src="" alt="">
            </li>
            <li>
                <button><i class="fas fa-envelope-square"></i><span class="showEmail"></span></button>
            </li>           
            <li>
                <button><i class="fas fa-shopping-basket"></i><span>Product Orders</span></button>
            </li>
            <li>            
                <button onclick="infoButton()" ><i class="far fa-id-badge"></i>Information</button>
            </li>          
            <!-- <li>
                <button onclick="addressButton()"><i class="fas fa-map-marker-alt"></i>Address</button>
            </li> -->
            <li>
                <button onclick="signout()" class="logOut"><i class="fas fa-sign-out-alt"></i>Sign out</button>

            </li>            
        </ul>
    </div>

    <div class="tabR">
        <!-- <div class="ordersRank">
            <button class="exit123" onclick="exit4()" ><i class="fas fa-undo"></i></button>
            <h3 class="ordersRank1">Danh sách đơn hàng</h3>
            <div class="ordersRank2">
                <table class="user-orders__table">
                    <tr>
                      <th>Mã đơn hàng</th>
                      <th>Ngày mua</th>
                      <th>Danh sách sản phẩm</th>
                      <th>Tổng tiền</th>
                      <th>Trạng thái đơn hàng</th>
                    </tr>
                </table>
            </div>
        </div> -->
            
    </div>

    
    </div>
    </div>
    

</div>

</body>
<footer>
    <%- include('../partials/footer'); %>
    <%- include('../partials/user-script.ejs'); -%>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/assets/js/customer-page.js"></script>
<script src="/public/assets/js/customer-orders.js"></script>
</html>