<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/assets/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/css/rest.css">
    <link rel="stylesheet" href="/public/assets/css/grid.css">
    <link rel="stylesheet" href="/public/assets/css/base.css">
    <link rel="stylesheet" href="/public/assets/css/nav.css">
    <link rel="stylesheet" href="/public/assets/css/carousel-banner.css">
    <link rel="stylesheet" href="/public/assets/css/deal.css">
    <link rel="stylesheet" href="/public/assets/css/range.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/css/list-product.css">
    <link rel="stylesheet" href="/public/assets/css/tab_ui.css">
    <link rel="stylesheet" href="/public/assets/css/product_details.css">
    <link rel="stylesheet" href="/public/assets/css/cart.css">
    <link rel="stylesheet" href="/public/assets/css/responsive.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="col col-md-3 col-sm-3 hide-on-pc">
                <label for="nav-mobile-input">
                    <ul class="navbar-list">
                        <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                    </ul>
                 </label>
            </div>
            
            <div class="col col-lg-5 hide-on-mobile-tablet">
                <ul class="navbar-list">
                    <label for="nav-mobile-input">
                        <ul class="navbar-list">
                            <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                        </ul>
                    </label>
                    <li class="navbar-list-items">
                        <a href="" class="navbar-items-link">Main</a>
                        <ul class="header__submenu-list">
                            <div class="grid">
                                <div class="row">
                                    <li class="col col-lg-2-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">Home Styles</h3>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-items"><a href="" class=" sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v2 – Full Screen Slider</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        </ul>
                                    </li>
                                    <li class="col col-lg-2-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">GLOBAL OPTION</h3>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        </ul>
                                    </li>
                                    <li class="col col-lg-2-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">HEADER LAYOUT</h3>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        </ul>
                                    </li>
                                    <li class="col col-lg-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">OTHER DEMOS</h3>
                                        <ul class="sub-menu">
                                            <a href="" class="sub-demo">
                                                <img src="./assets/img/decor-home1-768x438.png" alt="" class="sub-menu-img">
                                                <div class="sub-demo-title">
                                                    <p class="">Decoration</p>
                                                    <p>Demo</p>
                                                </div>
                                                

                                            </a>
                                           
                                        </ul>
                                    </li>
                                    
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="navbar-list-items"><a href="" class="navbar-items-link">Shop</a></li>
                    <li class="navbar-list-items"><a href="" class="navbar-items-link">Product</a></li>
                    <li class="navbar-list-items navbar-list-items-dropdown"><a href="" class="navbar-items-link">Page</a>
                    <ul class="navbar__list-dropdown">
                        <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 1</a></li>
                        <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 2</a></li>
                        <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 3</a></li>
                    </ul>
                    </li>
                    
                    <li class="navbar-list-items disable "><a href="" class="navbar-items-link ">Journal</a></li>
                   
                </ul>
                
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6 navbar-logo">
                <img src="../GOYA/assets/img/logo-light-_1_.png" class="navbar-logo-img"> 
                
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-3">
                <ul class="navbar-list navbar-list-touchbar">
                    <div class="navbar-search">
                        
                        <input type="text" class="navbar-search-input">
                        <p class="navbar-search-icon"><i class="fal fa-search"></i></p> 
                        
                    </div>
                    <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon far fa-user"></i></a></li>
                    <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon fal fa-question-circle"></i></a></li>
                    <li class="navbar-list-items navbar-list-items-cart hide-on-mobile-tablet">
                        <a href="" class="navbar-items-link">
                            <i class="navbar-items-link-icon far fa-shopping-cart"></i></i>
                        </a>
                        <div class="navbar-list_cart">
                            <!-- navbar-list_cart-nocart add  class này để hiển thị phần không có sản phẩm  -->
                            <div class="navbar-list_cart-nocart">
                                <img class="navbar-list-nocart-img" src="../mint/assets/image/no-cart.png" alt="">
                                <p class="navbar-list-nocart-text">Chưa có sản phẩm </p>
                            </div>
                            
                            <!-- <h4 class="list_cart-heading">Sản phẩm đã thêm </h4>
                            <ul class="list_cart">
                                <li class="list-cart-items">
                                    <img class="list-cart-items-img" src="./assets/image/product-1.png" alt="">
                                    <div class="list-cart-item-wrapper">
                                        <div class="list-cart-item-head">
                                            <h5 class="list-cart-item-name">Kem Dưỡng Cliniquenique Tím 125 mlKem Dưỡng Cliniquenique Tím 125 mlKem Dưỡng Cliniquenique Tím 125 ml </h5>
                                            <p class="list-cart-item-price">22.000</p>
                                            <p class="list-cart-item-multiphy">x</p>
                                            <p class="list-cart-item-quatity">2</p>
                                        </div>
                                        <div class="list-cart-item-body">
                                            <p class="list-cart-item-category">Phân loại: Kem Dưỡng Da</p>
                                            <p class="list-cart-item-delete">Xoá</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <button class=" btn btn-primary list-view-cart">Xem Giỏ Hàng </button> -->
                            
                        </div>
                    </li>
                </ul>
            </div>
            <input class="nav__mobile-input-checked" type="checkbox" name="" id="nav-mobile-input" hidden >
            <label for="nav-mobile-input" class="navbar__overlay">
               
            </label>
            <div class="navbar__tablet-mobile">
                <header class="navbar__tablet-mobile-header"> 
                    <div class="navbar__tablet-mobile-user">
                        <img src="https://avatar-redirect.appspot.com/google/113816191739976626096?size=400" alt="" class="navbar__tablet-mobile-user-img">
                        <div class="navbar__tablet-mobile-user-name">
                            <p>Lê Huy Hiệp</p>
                        </div>
                    </div>
                    <label for="nav-mobile-input">
                        <div class="navbar__tablet-mobile-icon-close"><a  class="navbar__tablet-mobile-icon-close-link"><i class="fal fa-times"></i></a></div>
                    </label>
                </header>
                
                <ul class="navbar__tablet-mobile-list">
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 1</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 2</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 3</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 4</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 5</a></li>
                </ul>
            </div>
            
        </nav>
    </header>
    <section class="body" id="">
        <div class="container">
            <div class="checkout-header">
                <ul class="checkout-header-nav">
                    <li class="checkout-header-item">
                        <span>Giỏ hàng</span>
                    </li>
                    <li class="checkout-header-item">
                        <span>Địa chỉ & Giao hàng </span>
                    </li>
                    <li class="checkout-header-item">
                        <span>Thanh Toán</span>
                    </li>
                    
                </ul>
            </div>
            <div class="row">
                <div class="col col-lg-8">
                    <div class="cart-header-text">
                        <div class="cart-header-product-text cart-header-items-text"><span>SẢN PHẨM</span></div>
                        <div class="cart-header-unit-price-text cart-header-items-text"><span>ĐƠN GIÁ</span></div>
                        <div class="cart-header-quantity-text cart-header-items-text"><span>SỐ LƯỢNG</span></div>
                        <div class="cart-header-total-price-text cart-header-items-text"><span>TỔNG GIÁ</span></div>
                        <div class="cart-header-empty-text cart-header-items-text"><span></span></div>
                    </div>
                    <div class="cart ">
                        <!-- thêm class cart-empty khi không có sản phẩm  -->
                        <img class="cart-empty-img" src="https://cdncontent.decathlon.vn/_next/static/images/cart-empty-f5957296fcc29441a35bd50dda22ee00.svg" alt="">
                        <h2 class="cart-empty-title">Không có sản phẩm trong giỏ hàng?</h2>
                        <a href="" class="product-review-overview-counts-btn cart-empty-btn"><span>Thêm vào giỏ hàng </span></a>
                        <ul class="card-eligibility">
                            <li><span><i style="color:var(--green)" class="fal fa-check-circle"></i> <strong>Ưu đãi</strong></span></li>
                            <li><span><i class="fal fa-truck"></i> <strong>Mua thêm 404,000 VND để được MIỄN PHÍ GIAO HÀNG</strong></span></li>
                        </ul>
                        <div class="cart-items">
                            <div class="cart-items-img"><img src="https://contents.mediadecathlon.com/p1933438/4965b28f8de5aacd63f851ffc485da1a/p1933438.jpg?f=150x150" alt=""></div>
                            <div class="cart-items-info-product">
                                <div class="cart-items-info-product-description">
                                    <span>Tất bó cơ chạy bộ - Đen</span>
                                    <span>MÃ SẢN PHẨM:2504706</span>
                                    <span>MÀU SẮC : TRẮNG</span>
                                    <span>KÍCH THƯỚC : 42</span>
                                    <span>GIAO HÀNG TRONG VÒNG CHƯA ĐẦY 72 GIỜ</span>
                                </div>
                                <div class="cart-items-unit-price">
                                    <span>35$</span>
                                </div>
                                <div class="cart-items-quantity cart-items-unit-price">
                                    <button class="cart-items-quantity-btn cart-items-quantity-btn-disabled" >-</button>
                                    <input class="cart-items-quantity-input" type="number" min='1' max='5'>
                                    <button class="cart-items-quantity-btn">+</button>
                                </div>
                                <div class="cart-items-total-price cart-items-unit-price">
                                    <span>35$</span>
                                </div>
                            </div>
                            <div class="cart-items-delete cart-items-unit-price"><button>x</button></div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <div class="cart">
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>