<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/assets/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/css/rest.css">
    <link rel="stylesheet" href="/public/assets/css/grid.css">
    <link rel="stylesheet" href="/public/assets/css/base.css">
    <link rel="stylesheet" href="/public/assets/css/nav.css">
    <link rel="stylesheet" href="/public/assets/css/carousel-banner.css">
    <link rel="stylesheet" href="/public/assets/css/deal.css">
    <link rel="stylesheet" href="/public/assets/css/range.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/css/list-product.css">
    <link rel="stylesheet" href="/public/assets/css/responsive.css">
</head>
<body style="position: relative;">
    <header>
        <nav class="navbar">
            <div class="col col-md-3 col-sm-3  hide-on-pc">
                <label for="nav-mobile-input">
                    <ul class="navbar-list">
                        <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                    </ul>
                 </label>
            </div>
            
            <div class="col col-lg-5 hide-on-mobile-tablet">
                <ul class="navbar-list">
                    <label for="nav-mobile-input">
                        <ul class="navbar-list">
                            <li class="navbar-list-items"><a class="navbar-items-link"><i class="fal fa-bars"></i></a></li>
                        </ul>
                    </label>
                    <li class="navbar-list-items">
                        <a href="" class="navbar-items-link">Main</a>
                        <ul class="header__submenu-list">
                            <div class="grid">
                                <div class="row">
                                    <li class="col col-lg-2-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">Home Styles</h3>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-items"><a href="" class=" sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v2 – Full Screen Slider</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        </ul>
                                    </li>
                                    <li class="col col-lg-2-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">GLOBAL OPTION</h3>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        </ul>
                                    </li>
                                    <li class="col col-lg-2-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">HEADER LAYOUT</h3>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                            <li class="sub-menu-items"><a href="" class="sub-menu-items-link">v1 – Classic</a></li>
                                        </ul>
                                    </li>
                                    <li class="col col-lg-4 header__submenu-list-items">
                                        <h3 class="header__sub-title">OTHER DEMOS</h3>
                                        <ul class="sub-menu">
                                            <a href="" class="sub-demo">
                                                <img src="./assets/img/decor-home1-768x438.png" alt="" class="sub-menu-img">
                                                <div class="sub-demo-title">
                                                    <p class="">Decoration</p>
                                                    <p>Demo</p>
                                                </div>
                                                

                                            </a>
                                           
                                        </ul>
                                    </li>
                                    
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="navbar-list-items"><a href="" class="navbar-items-link">Shop</a></li>
                    <li class="navbar-list-items"><a href="" class="navbar-items-link">Product</a></li>
                    <li class="navbar-list-items navbar-list-items-dropdown"><a href="" class="navbar-items-link">Page</a>
                    <ul class="navbar__list-dropdown">
                        <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 1</a></li>
                        <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 2</a></li>
                        <li class="navbar__list-items-dropdown"><a href="" class="navbar__list-items-dropdown-link">item 3</a></li>
                    </ul>
                    </li>
                    
                    <li class="navbar-list-items disable "><a href="" class="navbar-items-link ">Journal</a></li>
                   
                </ul>
                
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 navbar-logo">
                <img src="../GOYA/assets/img/logo-light-_1_.png" class="navbar-logo-img"> 
                
            </div>
            <div class="col col-lg-4 col-md-3 col-sm-3">
                <ul class="navbar-list navbar-list-touchbar">
                    <div class="navbar-search">
                        
                        <input type="text" class="navbar-search-input">
                        <p class="navbar-search-icon"><i class="fal fa-search"></i></p> 
                        
                    </div>
                    <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon far fa-user"></i></a></li>
                    <li class="navbar-list-items hide-on-mobile-tablet"><a href="" class="navbar-items-link"><i class="navbar-items-link-icon fal fa-question-circle"></i></a></li>
                    <li class="navbar-list-items navbar-list-items-cart hide-on-mobile-tablet">
                        <a href="" class="navbar-items-link">
                            <i class="navbar-items-link-icon far fa-shopping-cart"></i></i>
                        </a>
                        <div class="navbar-list_cart">
                            <!-- navbar-list_cart-nocart add  class này để hiển thị phần không có sản phẩm  -->
                            <div class="navbar-list_cart-nocart">
                                <img class="navbar-list-nocart-img" src="../mint/assets/image/no-cart.png" alt="">
                                <p class="navbar-list-nocart-text">Chưa có sản phẩm </p>
                            </div>
                            
                            <!-- <h4 class="list_cart-heading">Sản phẩm đã thêm </h4>
                            <ul class="list_cart">
                                <li class="list-cart-items">
                                    <img class="list-cart-items-img" src="./assets/image/product-1.png" alt="">
                                    <div class="list-cart-item-wrapper">
                                        <div class="list-cart-item-head">
                                            <h5 class="list-cart-item-name">Kem Dưỡng Cliniquenique Tím 125 mlKem Dưỡng Cliniquenique Tím 125 mlKem Dưỡng Cliniquenique Tím 125 ml </h5>
                                            <p class="list-cart-item-price">22.000</p>
                                            <p class="list-cart-item-multiphy">x</p>
                                            <p class="list-cart-item-quatity">2</p>
                                        </div>
                                        <div class="list-cart-item-body">
                                            <p class="list-cart-item-category">Phân loại: Kem Dưỡng Da</p>
                                            <p class="list-cart-item-delete">Xoá</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <button class=" btn btn-primary list-view-cart">Xem Giỏ Hàng </button> -->
                            
                        </div>
                    </li>
                </ul>
            </div>
            <input class="nav__mobile-input-checked" type="checkbox" name="" id="nav-mobile-input" hidden >
            <label for="nav-mobile-input" class="navbar__overlay">
               
            </label>
            <div class="navbar__tablet-mobile">
                <header class="navbar__tablet-mobile-header"> 
                    <div class="navbar__tablet-mobile-user">
                        <img src="https://avatar-redirect.appspot.com/google/113816191739976626096?size=400" alt="" class="navbar__tablet-mobile-user-img">
                        <div class="navbar__tablet-mobile-user-name">
                            <p>Lê Huy Hiệp</p>
                        </div>
                    </div>
                    <label for="nav-mobile-input">
                        <div class="navbar__tablet-mobile-icon-close"><a  class="navbar__tablet-mobile-icon-close-link"><i class="fal fa-times"></i></a></div>
                    </label>
                </header>
                
                <ul class="navbar__tablet-mobile-list">
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 1</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 2</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 3</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 4</a></li>
                    <li class="navbar__tablet-mobile-items"><a href="" class="navbar__tablet-mobile-items-link">item 5</a></li>
                </ul>
            </div>
            
        </nav>
    </header>
    <section class="body">
        <div class="body-warp">
            <div class="body-header">
                <h1 class="body-header_title">Quần áo và giày dép nữ </h1>
            </div>
            <div class="row">
                <div class="hide-on-mobile-tablet body-warp-left col-lg-2 ">
                    <div class="menu-search">
                        <div class="menu-search-category">
                            <h2 class="menu-search-category-title">Category <span><i class="far fa-plus"></i></span></h2>
                            <ul class="menu-search-category-list">
                                <li class="menu-search-category-items">
                                    <a href="" class="menu-search-category-link">
                                        <img src="https://contents.mediadecathlon.com/p1581230/k$bd3f8d54a01b2985d5d02d99bf337f13/sq/DEBARDEUR+YOGA+DYNAMIQUE+FEMME+SANS+COUTURES+NOIR.jpg?f=100x100" class="menu-search-category-img"></img>
                                        <p class="menu-search-category-description">Quần Áo <span>(1127)</span></p>
                                        <span class="menu-search-category-icon"><i class="fal fa-chevron-right"></i></span>
                                    </a>
                                </li>
                                <li class="menu-search-category-items">
                                    <a href="" class="menu-search-category-link">
                                        <img src="https://contents.mediadecathlon.com/p1581230/k$bd3f8d54a01b2985d5d02d99bf337f13/sq/DEBARDEUR+YOGA+DYNAMIQUE+FEMME+SANS+COUTURES+NOIR.jpg?f=100x100" class="menu-search-category-img"></img>
                                        <p class="menu-search-category-description">Quần Áo <span>(1127)</span></p>
                                        <span class="menu-search-category-icon"><i class="fal fa-chevron-right"></i></span>
                                    </a>
                                </li>
                                <li class="menu-search-category-items">
                                    <a href="" class="menu-search-category-link">
                                        <img src="https://contents.mediadecathlon.com/p1581230/k$bd3f8d54a01b2985d5d02d99bf337f13/sq/DEBARDEUR+YOGA+DYNAMIQUE+FEMME+SANS+COUTURES+NOIR.jpg?f=100x100" class="menu-search-category-img"></img>
                                        <p class="menu-search-category-description">Quần Áo <span>(1127)</span></p>
                                        <span class="menu-search-category-icon"><i class="fal fa-chevron-right"></i></span>
                                    </a>
                                </li>
                                <li class="menu-search-category-items">
                                    <a href="" class="menu-search-category-link">
                                        <img src="https://contents.mediadecathlon.com/p1581230/k$bd3f8d54a01b2985d5d02d99bf337f13/sq/DEBARDEUR+YOGA+DYNAMIQUE+FEMME+SANS+COUTURES+NOIR.jpg?f=100x100" class="menu-search-category-img"></img>
                                        <p class="menu-search-category-description">Quần Áo <span>(1127)</span></p>
                                        <span class="menu-search-category-icon"><i class="fal fa-chevron-right"></i></span>
                                    </a>
                                </li>
                                <li class="menu-search-category-items">
                                    <a href="" class="menu-search-category-link">
                                        <img src="https://contents.mediadecathlon.com/p1581230/k$bd3f8d54a01b2985d5d02d99bf337f13/sq/DEBARDEUR+YOGA+DYNAMIQUE+FEMME+SANS+COUTURES+NOIR.jpg?f=100x100" class="menu-search-category-img"></img>
                                        <p class="menu-search-category-description">Quần Áo <span>(1127)</span></p>
                                        <span class="menu-search-category-icon"><i class="fal fa-chevron-right"></i></span>
                                    </a>
                                </li>
                                <li class="menu-search-category-items">
                                    <a href="" class="menu-search-category-link">
                                        <img src="https://contents.mediadecathlon.com/p1581230/k$bd3f8d54a01b2985d5d02d99bf337f13/sq/DEBARDEUR+YOGA+DYNAMIQUE+FEMME+SANS+COUTURES+NOIR.jpg?f=100x100" class="menu-search-category-img"></img>
                                        <p class="menu-search-category-description">Quần Áo <span>(1127)</span></p>
                                        <span class="menu-search-category-icon"><i class="fal fa-chevron-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-search-filter">
                            <h2 class="menu-search-filter-title">Bộ lọc <span><i class="far fa-plus"></i></span></h2>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo sản phẩm</h4>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo sản phẩm</h4>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo màu sắc</h4>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#C9C0AA"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#FFFFFF"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#1870B1"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#77282D"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#FFFFFD"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#FEE638"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#7D7755"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#563329"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-color:#E1CFE2"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-image:linear-gradient(purple, pink)"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-image:linear-gradient(blue, purple)"></span>
                                    </a>
                                    <a href="" class="menu-search-filter-link menu-search-filter-color-link">
                                        <span class="menu-search-filter-color" style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))"></span>
                                    </a>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo sản phẩm</h4>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo sản phẩm</h4>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo phạm vi gia</h4>
                                <li class="menu-search-filter-items menu-search-filter-items-range">
                                    <div class="menu-search-filter-range">
                                        <div class="range-slider flat" data-ticks-position='top' style='--min:-500; --max:500; --value-a:-220; --value-b:400; --suffix:"$"; --text-value-a:"-220"; --text-value-b:"400";'>
                                            <input type="range" min="-500" max="500" value="-220" oninput="this.parentNode.style.setProperty('--value-a',this.value); this.parentNode.style.setProperty('--text-value-a', JSON.stringify(this.value));">
                                            <output></output>
                                            <input type="range" min="-500" max="500" value="400" oninput="this.parentNode.style.setProperty('--value-b',this.value); this.parentNode.style.setProperty('--text-value-b', JSON.stringify(this.value))">
                                            <output></output>
                                            <div class='range-slider__progress'></div>
                                        </div>
                                    </div>
                                    
                                </li>
                                
                            </ul>
                            <ul class="menu-search-filter-list">
                                <h4 class='menu-search-filter-item-title'>Lọc theo sản phẩm</h4>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                                <li class="menu-search-filter-items">
                                    <a href="" class="menu-search-filter-link">
                                        <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                        <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="body-warp-right col-lg-10 col-md-12 col-sm-12">
                    <div class="product-filters-top">
                        <div class="row no-gutters">
                            <div class="col col-lg-3 col-md-12 col-sm-12 product-sorting-bar">
                                <button class="product-sorting-bar-btn">
                                    <span class="product-sorting-bar-icon"><i class="far fa-map-marker-alt"></i></span>
                                    <span class="product-sorting-bar-desc">Chọn của hàng của bạn xem tình trạng còn hàng </span>
                                </button>
                            </div>
                            <div class=" col col-lg-9 col-md-12 col-sm-12 store-fillters">
                                    <div class="product-sorting-bar store-fillters">
                                        <div class="col col-lg-4 col-md-4  col-sm-4">
                                            <div class="information-product">
                                                <span class="hide-on-mobile-tablet information-product-number">1.398</span>
                                                <span class="hide-on-mobile-tablet information-product-description">sản phẩm </span>
                                                <span class='information-product-mobile-fillter hide-on-mobile-pc'><i class="fal fa-sliders-v"></i>Bộ lọc </span>
                                            </div>
                                        </div>
                                        <div class="col col-lg-8 col-md-8 col-sm-8">
                                            <div class="information-product">
                                                <div class="information-product-option">
                                                    <div class="information-product-option-value">
                                                        <p class="information-product-option-value-desc">Lựa chọn của chúng tôi</p>
                                                        <span class="information-product-option-icon"><i class="far fa-chevron-down"></i></span>
                                                        <ul class="information-product-list">
                                                            <li class="information-product-items information-product-items-active">
                                                                <a class="information-product-link"><span>Lựa chọn của chúng tôi</span></a>
                                                            </li>
                                                            <li class="information-product-items">
                                                                <a class="information-product-link"><span>Lựa chọn của chúng tôi</span></a>
                                                            </li>
                                                            <li class="information-product-items">
                                                                <a class="information-product-link"><span>Lựa chọn của chúng tôi</span></a>
                                                            </li>
                                                            <li class="information-product-items">
                                                                <a class="information-product-link"><span>Lựa chọn của chúng tôi</span></a>
                                                            </li>
                                                        </ul>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-list-wrapper">
                        <div class="product-list">
                        </div>
                    </div>
                    <div class="more-content">
                        <button class="more-content-btn">Xem THÊM SẢN PHẨM </button>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <div class="filters-faceting">
        <div class="filters-faceting-wrapper">
            <div class="filters-faceting-top">
                <span class="filters-faceting-top-description"><i class="fal fa-sliders-v"></i>Bộ lọc </span>
                <span class="filters-faceting-top-close"><i class="fal fa-times-circle"></i></span>
            </div>
            <div class="filters-faceting-body">
                <ul class="menu-search-filter-list menu-search-filter-list-mobile-warp">
                    <h4 class='menu-search-filter-item-title menu-search-filter-item-title-mobile'>Lọc theo sản phẩm <i class="far fa-plus"></i></h4>
                    <ul class="menu-search-filter-list-mobile ">
                        <li class="menu-search-filter-items">
                            <a href="" class="menu-search-filter-link">
                                <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                            </a>
                        </li>
                        <li class="menu-search-filter-items">
                            <a href="" class="menu-search-filter-link">
                                <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                            </a>
                        </li>
                        <li class="menu-search-filter-items">
                            <a href="" class="menu-search-filter-link">
                                <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                            </a>
                        </li>
                    </ul>
                </ul>
                <ul class="menu-search-filter-list menu-search-filter-list-mobile-warp">
                    <h4 class='menu-search-filter-item-title menu-search-filter-item-title-mobile'>Lọc theo sản phẩm <i class="far fa-plus"></i></h4>
                    <ul class="menu-search-filter-list-mobile ">
                        <li class="menu-search-filter-items">
                            <a href="" class="menu-search-filter-link">
                                <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                            </a>
                        </li>
                        <li class="menu-search-filter-items">
                            <a href="" class="menu-search-filter-link">
                                <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                            </a>
                        </li>
                        <li class="menu-search-filter-items">
                            <a href="" class="menu-search-filter-link">
                                <input class="menu-search-filter-checkbox" type="checkbox" name="" id="">
                                <p class="menu-search-filter-description">Quần Áo <span>(1127)</span></p>
                            </a>
                        </li>
                    </ul>
                </ul>
                
            </div>
            <div class="filters-faceting-footer">
                <button class="filters-faceting-footer-btn">ỨNG DỤNG</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/assets/js/ajaxListProduct.js"></script>
<script src="/public/assets/js/list-product.js"></script>
</html>